/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@media (min-width: 768px) {

    .block-social ul li a:before {
        font-size: 30px;
        line-height: 40px;
    }
.footer-bottom .block-social{
    min-width:300px;
}
    .block-social ul li a {
        height: 40px;
        width: 40px;
    }
}

.product-prices .current-price,
.has-discount.product-price, .has-discount p {
    color: #BB946A;
}
.has-discount .discount, .product-price-and-shipping .price-percent-reduction {
    background: #BB946A;
    font-size:18px;
}
.product-prices .current-price,
.has-discount .current-price > span:first-child {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}
.delivery-time-mf.mt-1.text-center{
    font-size:1.15rem;
}

.delivery-information{
    display:none!important;
}
#product_comments_block_tab .btn{
    text-transform: lowercase;
}
#product_comments_block_tab .btn::first-letter {
    text-transform: uppercase;

}

#footer{
    background:#2e3f50;
}
#footer .block-social ul li a{
    background:none;
    color:#ccc
}
#footer .block-social ul li a:hover,
.footer-container li a:hover {
    color:#fff;
}
.footer-container .widget-title {
    color:#998165;
}
.footer-bottom .block-social ul li a,
.footer-container li a,
.footer-container .block-contact li span,
.footer-container .block-contact ul:not(.social-block) li {
    color:#ccc
}


.owl-carousel.owl-drag .owl-item {
    display: block;
}


.back-to-top .icon-chair1 {
    text-shadow: 0px 0px 3px #e5e5e5;
}


#payment-confirmation .btn-primary {
    color: #fff;
    background-color: #998165;
}
#payment-confirmation .btn-primary:hover {
    color: #fff;
    background-color: #2e3f50;
}

.promo-banner-wrapper{
    margin-top:20px;
}
.promo-banner-wrapper .banner2{
    transform:scale(1.05);
    z-index:2;
    background:#fff
}
.promo-text-wrapper{
        padding-bottom: 10px;

}
.promo-banner-wrapper .banner2 .promo-text-wrapper {
    bottom:6px;
    transform:none;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {


}

@media (max-width: 991px) {
#adtm_menu {
        position:relative;
        top: initial;
        right: initial;
        left: initial;
        bottom: initial
    }

    #adtm_menu .advtm_hide_mobile {
        display: none!important
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.advtm_search.advtm_hide_mobile {
        display: none!important
    }

    #adtm_menu a.a-niveau1,#adtm_menu .advtm_menu_span {
        height: auto!important
    }

    #adtm_menu ul li.li-niveau1 {
        display: none
    }

    #adtm_menu ul li.advtm_menu_toggle {
        width: 1px;
        height: 1px;
        visibility: hidden;
        min-height: 1px!important;
        border: none;
        padding: 0;
        margin: 0;
        line-height: 1px
    }

    #adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button {
        width: 100%;
        cursor: pointer
    }

    #adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {
        background-position: left 15px center;
        background-repeat: no-repeat
    }

    #adtm_menu .adtm_menu_icon {
        height: auto;
        max-width: 100%
    }

    #adtm_menu ul .li-niveau1 .adtm_sub {
        width: auto;
        height: auto;
        min-height: inherit
    }

    #adtm_menu ul div.adtm_column_wrap {
        min-height: inherit;
        width: 100%!important
    }

    #adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAACVBMVEUAAAAAAAAAAACDY+nAAAAAAnRSTlMA3Pn2U8cAAAAaSURBVAjXY4CCrFVAsJJhFRigUjA5FEBvfQDmRTo/uCG3BQAAAABJRU5ErkJggg==);
        background-position: left 15px center;
        background-repeat: no-repeat
    }

    #adtm_menu .li-niveau1 a.a-niveau1 .advtm_menu_span {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase
    }

    #adtm_menu .adtm_column span.column_wrap_title,#adtm_menu .adtm_column span.column_wrap_title a,#adtm_menu .adtm_column span.column_wrap_title span[data-href] {
        font-size: 18px;
        font-weight: 700;
        text-transform: none
    }

    #adtm_menu .adtm_column ul.adtm_elements li,#adtm_menu .adtm_column ul.adtm_elements li a,#adtm_menu .adtm_column ul.adtm_elements li span[data-href] {
        font-size: 16px;
        font-weight: 400;
        text-transform: none
    }

    #adtm_menu .li-niveau1.adtm_sub_open a.a-niveau1 .advtm_menu_span,#adtm_menu .li-niveau1 a.a-niveau1:focus .advtm_menu_span,.li-niveau1:focus>a.a-niveau1 .advtm_menu_span {
        color: #fff;
        text-decoration: none
    }

    #adtm_menu.adtm_menu_toggle_open ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {
        color: #333
    }

    #adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {
        color: #666
    }

    #adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {
        font-size: 16px;
        min-height: 40px;
        line-height: 40px
    }

    #adtm_menu.adtm_menu_toggle_open li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {
        background-color: #fff
    }

    #adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {
        background-color: #e5e5e5
    }

    #adtm_menu.adtm_menu_toggle_open.atmRtl ul#menu li.li-niveau1.sub a.a-niveau1 span {
        background-position: right 15px center
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.sub a.a-niveau1 span {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAABnRSTlMAHiXy6t8iJwLjAAAANUlEQVQY02MgFwgisZmMFZA4Zo5IUiLJSFKMbkZESqUoYKjDNFw5RYAYCSckW0IEULxAPgAAZQ0HP01tIysAAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        background-position: left 15px center
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.sub.adtm_sub_open a.a-niveau1 span {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAABnRSTlMAHiXy6t8iJwLjAAAARUlEQVQY02OgKWBUAJFMYJJB1AhEChuCOSLJCkBpNxAHRBsBRVIUIJpUkhVgEmAlIKVgAFIDUgmXgkmAzXWCMqA20hgAAI+xB05evnCbAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-position: left 15px center
    }

    .li-niveau1 a span {
        padding: 20px 10px 20px 10px;
        margin: 0 0 0 0
    }

    .li-niveau1 a.a-niveau1 {
        border-color: #d6d4d4;
        border-width: 0 1px 1px 1px
    }

    .li-niveau1 .advtm_menu_span,.li-niveau1 a .advtm_menu_span {
        color: #484848
    }

    .li-niveau1 a .advtm_menu_span,.li-niveau1 .advtm_menu_span {
        background: #fff
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.sub.adtm_sub_open a.a-niveau1 span,#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.sub a.a-niveau1.advtm_menu_actif span {
        background-color: #333;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAABnRSTlMAHiXy6t8iJwLjAAAARUlEQVQY02OgKWBUAJFMYJJB1AhEChuCOSLJCkBpNxAHRBsBRVIUIJpUkhVgEmAlIKVgAFIDUgmXgkmAzXWCMqA20hgAAI+xB05evnCbAAAAAElFTkSuQmCC) no-repeat left 15px center,linear-gradient(#333333,#000000)
    }

    #adtm_menu.adtm_menu_toggle_open .li-niveau1.sub.adtm_sub_open a .advtm_menu_span,.li-niveau1 a:focus .advtm_menu_span,.li-niveau1 a.advtm_menu_actif .advtm_menu_span,.li-niveau1 .advtm_menu_span:focus,.li-niveau1:focus>a.a-niveau1 .advtm_menu_span {
        background-color: #333;
        background: linear-gradient(#333333,#000000)
    }

    .li-niveau1 .adtm_sub {
        background-color: #fff;
        background: linear-gradient(#ffffff,#fcfcfc)
    }

    .li-niveau1 .adtm_sub {
        border-color: #e5e5e5;
        border-width: 0 1px 0 1px
    }

    #adtm_menu .adtm_column_wrap {
        padding: 0 0 0 0;
        margin: 0 0 0 0
    }

    #adtm_menu .adtm_column_wrap_td {
        border-color: #e5e5e5;
        border-width: 0 0 1px 0
    }

    #adtm_menu .adtm_column {
        padding: 0 0 5px 0;
        margin: 0 10px 5px 10px
    }

    #adtm_menu .adtm_column_wrap span.column_wrap_title {
        padding: 0 0 0 0;
        margin: 8px 0 8px 10px
    }

    .adtm_column_wrap span.column_wrap_title,.adtm_column_wrap span.column_wrap_title a,.adtm_column_wrap span.column_wrap_title span[data-href] {
        color: #333
    }

    #adtm_menu .adtm_column ul.adtm_elements li a,#adtm_menu .adtm_column ul.adtm_elements li span[data-href] {
        padding: 10px 10px 10px 0;
        margin: 15px 0 15px 0
    }

    .adtm_column_wrap a {
        color: #777
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu .advtm_hide_desktop {
        display: block!important
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1 {
        display: block!important
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.advtm_hide_mobile {
        display: none!important
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.advtm_menu_toggle.adtm_menu_mobile_mode {
        display: none!important
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1 a.a-niveau1 {
        float: none
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li div.adtm_sub {
        display: none;
        position: static;
        height: auto
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li div.adtm_sub.adtm_submenu_toggle_open {
        display: block
    }

    #adtm_menu.adtm_menu_toggle_open table.columnWrapTable {
        display: table!important;
        width: 100%!important
    }

    #adtm_menu.adtm_menu_toggle_open table.columnWrapTable tr td {
        display: block
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.advtm_search .searchboxATM {
        display: flex
    }

    #adtm_menu.adtm_menu_toggle_open ul#menu li.advtm_search .searchboxATM .search_query_atm {
        padding: 15px 5px;
        width: 100%
    }

    #adtm_menu ul#menu .li-niveau1 div.adtm_sub {
        opacity: 1;
        visibility: visible
    }

    #adtm_menu ul#menu .li-niveau1:hover div.adtm_sub,#adtm_menu ul#menu .li-niveau1:focus div.adtm_sub {
        transition: none
    }
}

.form-group.missing-street-number label[data-missing-street-nr-notice]:after {
    content: ''!important;

}
#index .top-column h3 {
    font-weight: 200 !important;
}

@media (max-width: 1440px) {
    .container {
        width: 100%;
    }
    .logo.img-responsive{
        max-width:250px;
    }
    #adtm_menu .li-niveau1 a.a-niveau1 .advtm_menu_span {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    #adtm_menu .li-niveau1 a.a-niveau1 .advtm_menu_span {
        font-size: 13px;
    }
}

.li-niveau1 .adtm_sub {
    width: auto;
}
@media screen and (min-width: 991px) {
    div.adtm_sub {
        margin-top: 5px !important;
        margin-right:auto;
        min-width: 300px;
    }
}
.product-variants .texture:hover span,
.product-variants .color:hover span {
    visibility:visible!important;
    opacity:1!important;
}
div.fixed {
    z-index: 99999999;
}


.product-cover .layer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    opacity: 1;
    z-index: 9;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: left;
    padding-top: 100%;
    display:block!important;
}

@media screen and (max-width: 992px) {
    #product-modal .modal-content .modal-body figure {
        width: 100%;
        max-width: 100%;
    }
    #product-modal .modal-content .modal-body .thumbnails {
        float: left;
        position: absolute;
        width: 10%;
        display: table;
        left: 0;
    }
    #product-modal .modal-content .modal-body figure {
        width: 90%;
        max-width: 100%;
        margin:0;
    }
}
.mthomeslider .owl-item{
    height:auto!important;
}
