.bootstrap .page-head .toolbarBox .btn-toolbar .toolbar_btn i {
	background-color: inherit;
}

.row .btn-edit-with-ce,
.form-group .btn-edit-with-ce {
	margin: 5px 0;
	padding: 12px 15px 12px 13px;
	background: #D32A5B !important;
	color: #fff !important;
	transition: all 0.5s;
}

.ce-edit.pull-right {
	margin: 0 3px;
}
.ce-edit .btn i.icon-AdminParentCEContent {
	font-size: 11px;
}
.btn-group-action {
	display: flex;
	justify-content: flex-end;
}
.ce-edit a.dropdown-toggle {
	padding: 5px;
	align-self: center;
}
.ce-edit:not(.pull-right) + .btn-group > a {
	padding-top: 8px;
}
.ce-edit a.dropdown-toggle:after,
.admincetemplates .btn-back-to-ps,
.admincethemes .btn-back-to-ps,
.admincecontent .btn-back-to-ps {
	display: none;
}
.admincethemes:not(.lang-rtl) #head_tabs li:last-child {
	border-left: 1px solid #dfdfdf;
}
.admincethemes.lang-rtl #head_tabs li:last-child {
	border-right: 1px solid #dfdfdf;
}
.admincethemes #head_tabs li:last-child a:not(.current) {
	border-bottom: 3px solid transparent;
}
.btn.btn-back-to-ps {
	margin: 5px 0;
}
.admincetemplates textarea,
.admincecontent textarea {
	color: transparent;
}

.ce_template td:last-child {
	width: 120px;
}
.admincetemplates td.ce-shortcode {
	width: 230px;
}
.admincetemplates .ce-shortcode input {
	font-family: monospace !important;
}

.adminproducts #description.panel .btn-edit-with-ce {
	margin: 10px;
}
.adminproducts #description.panel .btn-edit-with-ce ~ .mce-tinymce {
	margin: 0 10px 10px;
}
.adminproducts #description.panel .wrapper-edit-with-ce {
	border: none;
	border-top: 1px solid #dfdfdf;
	border-radius: 0;
}
.ce-product-hook::first-letter {
	text-transform: uppercase;
}
.row .btn-edit-with-ce:hover,
.form-group .btn-edit-with-ce:hover {
	opacity: 0.85;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}
.row .btn-edit-with-ce:active,
.form-group .btn-edit-with-ce:active {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.row .btn-edit-with-ce .material-icons,
.form-group .btn-edit-with-ce .material-icons {
	vertical-align: -2px;
	border-color: #fff;
	line-height: 1em;
}
/* PS 1.7.8+ */
.translationsLocales ~ .translationsFields {
	box-shadow: inset 0 1px #dfdfdf;
}
td.column-active ~ td.text-right .ce-edit button.btn,
td.column-active ~ td.text-right .ce-edit a.btn {
	padding: 9px 6px 7px 8px;
	margin: 0;
}
td.column-active ~ td.text-right .ce-edit i.icon-AdminParentCEContent {
	font-size: 14px;
}
form[id^=ce_][id$=_form] .form-wrapper {
	max-width: 100%;
}
.ce-theme-panel #list.active {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr 1fr 1fr;
}
@media (max-width: 1200px) {
	.ce-theme-panel label.control-label {
		text-align: left;
		text-align: start;
	}
}
@media (max-width: 900px) {
	.ce-theme-panel #list.active {
		display: block;
	}
}
.btn-back-to-ps i.material-icons {
	vertical-align: middle;
}
.wrapper-edit-with-ce {
	background: #f5f8f9;
	border: 1px solid #c7d6db;
	border-radius: 3px;
	padding: 30px;
	text-align: center;
	cursor: pointer;
	transition: background 0.05s;
}
.wrapper-edit-with-ce:hover {
	background: rgba(245, 248, 249, 0.2);
}
.btn-edit-with-ce ~ .mce-tinymce {
	border: 1px solid #dfdfdf !important;
}
.btn-edit-with-ce ~ .mce-tinymce > .mce-container-body {
	border: none !important;
}
.ybc_blog_form_content_admin a.btn-edit-with-ce {
	display: inline-block !important;
}