@charset "UTF-8";
.ui-resizable-n {
	top: -5px; }

.ui-resizable-e {
	right: -5px; }

.ui-resizable-s {
	bottom: -5px; }

.ui-resizable-w {
	left: -5px; }

.ui-resizable-ne {
	top: -5px;
	right: -5px; }

.ui-resizable-nw {
	top: -5px;
	left: -5px; }

.ui-resizable-se {
	bottom: -5px;
	right: -5px; }

.ui-resizable-sw {
	bottom: -5px;
	left: -5px; }

.ui-resizable-n, .ui-resizable-s {
	left: 0;
	height: 10px;
	width: 100%;
	cursor: ns-resize; }

.ui-resizable-e, .ui-resizable-w {
	top: 0;
	height: 100%;
	width: 10px;
	cursor: ew-resize; }

.ui-resizable-ne, .ui-resizable-nw, .ui-resizable-se, .ui-resizable-sw {
	height: 15px;
	width: 15px; }

.ui-resizable-nw, .ui-resizable-se {
	cursor: nwse-resize; }

.ui-resizable-ne, .ui-resizable-sw {
	cursor: nesw-resize; }

.ui-resizable-handle {
	position: absolute; }

.ui-resizable-resizing {
	pointer-events: none; }

@keyframes placeholder-section {
	0% {
		height: 0;
		opacity: 0; }
	100% {
		height: 40px;
		opacity: .9; } }

@keyframes placeholder-widget {
	0% {
		height: 0;
		opacity: 0; }
	100% {
		height: 10px;
		opacity: .9; } }

@keyframes section-outline {
	0% {
		opacity: 0; }
	100% {
		opacity: 1; } }

body.elementor-editor-active .elementor.elementor-edit-mode.layout-section .entry-content {
	overflow: visible; }

body.elementor-editor-active .elementor.elementor-edit-mode .article {
	overflow: visible; }

body.elementor-editor-active .elementor.elementor-edit-mode .elementor-element-overlay .elementor-editor-element-settings {
	clear: unset; }

body.elementor-editor-active .elementor.elementor-edit-mode .elementor-element.elementor-section {
	overflow: visible; }

.elementor-edit-area .animated {
	animation-fill-mode: none !important; }

.elementor-edit-area ul.elementor-editor-element-settings {
	word-break: normal;
	padding: 0; }

.elementor-edit-area .gallery {
	opacity: 1; }

.pen {
	position: relative;
	outline: none; }
	.pen-menu {
		box-shadow: 1px 2px 3px -2px #222;
		background-color: #6d7882;
		position: fixed;
		overflow: hidden;
		border-radius: 3px;
		z-index: 9999; }
		.pen-menu:after {
			top: 100%;
			content: '';
			position: absolute;
			border: 6px solid transparent;
			border-top-color: #6d7882;
			left: 50%;
			transform: translateX(-50%); }
		.pen-menu-below:after {
			top: 0;
			transform: translateX(-50%) translateY(-100%) rotate(180deg); }
	.pen-icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 35px;
		padding: 0 10px;
		font-size: 21px;
		color: #d5dadf;
		cursor: pointer;
		-webkit-user-select: none;
			 -moz-user-select: none;
				-ms-user-select: none;
						user-select: none; }
		.pen-icon:hover {
			background: #556068; }
		.pen-icon[data-group], .pen-icon[data-action="closeGroup"] {
			display: none; }
		.pen-icon[data-action="close"]:before {
			content: '';
			position: absolute;
			right: 0;
			height: 60%;
			width: 1px;
			background-color: #556068; }
		.pen-icon.active {
			background-color: #556068;
			box-shadow: inset 2px 2px 4px #556068; }
	.pen-group-icon:after {
		font-family: eicons;
		font-size: 12px;
		content: '\e92a';
		padding-left: 4px;
		color: #71d7f7; }
	.pen-input-wrapper {
		align-items: center; }
		.pen-input-wrapper .pen-url-input {
			font-size: 12px;
			line-height: 1.5;
			padding: 0;
			padding-right: 10px;
			padding-left: 10px;
			width: 250px;
			direction: ltr; }
			.pen-input-wrapper .pen-url-input, .pen-input-wrapper .pen-url-input:focus {
				background-color: transparent;
				border: none;
				outline: none;
				box-shadow: none;
				color: #fff; }
			.pen-input-wrapper .pen-url-input::-webkit-input-placeholder {
				color: #d5dadf; }
			.pen-input-wrapper .pen-url-input::-moz-placeholder {
				color: #d5dadf; }
			.pen-input-wrapper .pen-url-input::-ms-input-placeholder {
				color: #d5dadf; }
			.pen-input-wrapper .pen-url-input::placeholder {
				color: #d5dadf; }
	.pen-input-label {
		margin: 0;
		margin-left: -1px; }
	.pen-placeholder:before {
		content: attr(data-pen-placeholder);
		position: absolute;
		font-weight: normal;
		color: #757575;
		opacity: 0.6; }
	.pen-external-url-checkbox {
		display: none; }
		.pen-external-url-checkbox:checked + i {
			color: #fff; }

.elementor-inline-editing i:not([class]) {
	font-style: italic; }

.elementor-inline-editing b {
	font-weight: bold; }

.elementor-inline-editing u {
	text-decoration: underline; }

html.elementor-html {
	margin-top: 0 !important; }

.elementor-edit-area {
	position: relative; }

.elementor.loading {
	opacity: 0.5; }

.elementor-edit-area-active .elementor-top-section > .elementor-container > .elementor-row {
	min-height: 40px; }

.elementor-edit-area-active .elementor-inner-section:first-child {
	margin-top: 15px; }

.elementor-edit-area-active .elementor-inner-section > .elementor-container > .elementor-row {
	min-height: 40px; }

.elementor-edit-area-active .elementor-column-wrap.elementor-element-empty .elementor-widget-wrap {
	min-height: 30px; }
	@media (min-width: 768px) {
		.elementor-edit-area-active .elementor-column-wrap.elementor-element-empty .elementor-widget-wrap {
			margin: 10px; } }

.elementor-edit-area-active .elementor-column {
	min-width: 25px; }

.elementor-edit-area-active .elementor-widget.elementor-loading {
	opacity: .3; }

.elementor-edit-area-active .elementor-widget.elementor-element-editable, .elementor-edit-area-active .elementor-widget.elementor-element-edit-mode:hover {
	box-shadow: 0 0 0 1px #71d7f7; }

.elementor-edit-area-active .elementor-widget:not(:hover) .elementor-editor-element-settings {
	display: none; }

.elementor-edit-area-active .elementor-widget.ui-draggable-dragging {
	pointer-events: none; }

.elementor-edit-area-active .elementor-editor-element-setting {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	font-size: 11px;
	color: #fff;
	width: 25px;
	transition: margin .3s, width .3s, font .3s; }

.elementor-edit-area-active .handle {
	display: none; }

.elementor-edit-area-active .elementor-inline-editing {
	min-height: 15px; }

.elementor-edit-area-active .elementor-edit-hidden {
	display: none; }

.elementor-section-wrap:empty {
	min-height: 25px; }

.elementor-element > .elementor-element-overlay {
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 0;
	z-index: 9998;
	pointer-events: none; }

.elementor-element-empty .elementor-sortable-placeholder {
	display: none; }

.elementor-element.elementor-widget-empty .elementor-widget-empty-icon {
	background-color: rgba(213, 218, 223, 0.8);
	color: #c2cbd2;
	font-size: 22px;
	display: block;
	text-align: center;
	padding: 10px 0; }

.elementor-element:not(:hover):not(.elementor-element-editable) > .elementor-element-overlay .elementor-editor-element-settings {
	display: none; }

.elementor-element--toggle-edit-tools > .elementor-element-overlay .elementor-editor-element-edit:not(.elementor-active) ~ * {
	width: 0;
	font-size: 0; }

.elementor-element[data-side="top"]:before, .elementor-element[data-side="bottom"] + .elementor-element:before {
	content: '';
	background-color: #71d7f7;
	transition-timing-function: ease-out;
	opacity: .9;
	height: 10px;
	animation: placeholder-widget 500ms;
	display: block; }

.elementor-element[data-side="bottom"]:last-child:after {
	content: '';
	background-color: #71d7f7;
	transition-timing-function: ease-out;
	opacity: .9;
	height: 10px;
	animation: placeholder-widget 500ms;
	display: block; }

.elementor-element.elementor-absolute, .elementor-element.elementor-fixed {
	cursor: -webkit-grab;
	cursor: grab; }
	.elementor-element.elementor-absolute:active, .elementor-element.elementor-fixed:active {
		cursor: -webkit-grabbing;
		cursor: grabbing; }
	.elementor-element.elementor-absolute .eicon-edit:before, .elementor-element.elementor-fixed .eicon-edit:before {
		content: '\e902'; }

.elementor-section > .elementor-element-overlay {
	right: 0;
	bottom: 0; }
	.elementor-section > .elementor-element-overlay:after {
		position: absolute;
		left: 2px;
		right: 2px;
		top: 2px;
		bottom: 2px;
		outline: 2px solid #71d7f7;
		animation: section-outline .75s; }

.elementor-section:hover > .elementor-element-overlay:after, .elementor-section.elementor-element-editable > .elementor-element-overlay:after {
	content: ''; }

.elementor-section-filled .elementor-sortable-placeholder.elementor-column {
	display: none; }

.elementor-section-filled .elementor-row.elementor-draggable-over {
	border: 1px solid #d72b3f; }

.elementor-column > .elementor-element-overlay {
	right: 0;
	bottom: 0; }
	.elementor-column > .elementor-element-overlay:after {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		outline: 1px dashed #6d7882; }

.elementor-column:hover > .elementor-element-overlay, .elementor-column.elementor-element-editable > .elementor-element-overlay {
	border: 1px solid #ffffff; }
	.elementor-column:hover > .elementor-element-overlay:after, .elementor-column.elementor-element-editable > .elementor-element-overlay:after {
		content: ''; }

.elementor-column.elementor-dragging-on-child > .elementor-element-overlay {
	border: 1px solid #71d7f7; }
	.elementor-column.elementor-dragging-on-child > .elementor-element-overlay:after {
		display: none; }

.elementor-column > .ui-resizable-e, .elementor-column > .ui-resizable-w {
	cursor: col-resize;
	width: 7px;
	position: absolute;
	left: -5px;
	top: 0;
	height: 100%; }

.elementor-column:last-of-type > .ui-resizable-e, .elementor-column:last-of-type > .ui-resizable-w {
	display: none !important; }

@media (max-width: 1024px) {
	.elementor-column > .ui-resizable-e, .elementor-column > .ui-resizable-w {
		display: none !important; } }

.elementor-editor-element-settings {
	position: absolute;
	display: flex;
	height: 26px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	z-index: 1;
	pointer-events: all; }

.elementor-editor-element-setting.elementor-editor-element-save {
	display: none; }

@media (min-width: 1025px) {
	.elementor-editor-element-edit {
		cursor: move; } }

.elementor-editor-section-settings {
	height: 24px;
	top: 1px;
	right: 50%;
	transform: translateX(50%) translateY(-100%);
	background-color: #71d7f7;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05); }
	.elementor-editor-section-settings i.eicon-handle {
		font-size: 16px; }
	.elementor-editor-section-settings .elementor-editor-element-setting:hover {
		background-color: #10bcf2; }
	.elementor-editor-section-settings .elementor-editor-element-setting:first-child {
		border-radius: 0 5px 0 0; }
		.elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
			content: '';
			position: absolute;
			border: solid transparent;
			top: 2px;
			border-left-color: #71d7f7;
			border-width: 22px 0 0 12px;
			left: calc(100% - 1px); }
		.elementor-editor-section-settings .elementor-editor-element-setting:first-child:hover:before {
			border-left-color: #10bcf2; }
	.elementor-editor-section-settings .elementor-editor-element-setting:last-child {
		border-radius: 5px 0 0 0; }
		.elementor-editor-section-settings .elementor-editor-element-setting:last-child:after {
			content: '';
			position: absolute;
			border: solid transparent;
			top: 2px;
			border-right-color: #71d7f7;
			border-width: 22px 12px 0 0;
			right: calc(100% - 1px); }
		.elementor-editor-section-settings .elementor-editor-element-setting:last-child:hover:after {
			border-right-color: #10bcf2; }

.elementor-section--handles-inside .elementor-editor-section-settings {
	transform: translateX(-50%);
	border-radius: 0 0 5px 5px; }
	.elementor-section--handles-inside .elementor-editor-section-settings .elementor-editor-element-setting:first-child {
		border-radius: 0 0 5px 0; }
		.elementor-section--handles-inside .elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
			top: 0;
			border-width: 0 0 22px 12px; }
	.elementor-section--handles-inside .elementor-editor-section-settings .elementor-editor-element-setting:last-child {
		border-radius: 0 0 0 5px; }
		.elementor-section--handles-inside .elementor-editor-section-settings .elementor-editor-element-setting:last-child:after {
			top: 0;
			border-width: 0 12px 22px 0; }

.elementor-editor-column-settings {
	top: -1px;
	right: -1px;
	border-radius: 0 0 0 3px;
	overflow: hidden; }
	.elementor-editor-column-settings .elementor-editor-element-setting {
		background-color: #495157; }
		.elementor-editor-column-settings .elementor-editor-element-setting:not(:hover) {
			background-image: linear-gradient(to bottom, #6d7882, #556068); }

.elementor-editor-widget-settings {
	z-index: 2;
	top: -1px;
	left: -1px;
	flex-direction: row-reverse;
	border-radius: 0 0 3px 0;
	overflow: hidden; }
	.elementor-editor-widget-settings .elementor-editor-element-setting {
		background-color: #10bcf2; }
		.elementor-editor-widget-settings .elementor-editor-element-setting:not(:hover) {
			background-image: linear-gradient(to top, #41c9f4, #71d7f7); }

.elementor-empty-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1; }

.elementor-first-add {
	text-align: center;
	border: 1px dashed #d5dadf;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center; }
	.elementor-first-add .elementor-icon {
		font-size: 19px;
		color: #a4afb7;
		cursor: pointer; }

.elementor-sortable-helper {
	position: absolute;
	border-radius: 3px;
	background-color: #fff;
	text-align: center;
	color: #556068;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	cursor: move; }
	.elementor-sortable-helper .icon {
		font-size: 28px;
		padding-top: 15px;
		line-height: 1; }
	.elementor-sortable-helper .elementor-element-title-wrapper {
		display: table;
		width: 100%; }
	.elementor-sortable-helper .title {
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-style: normal;
		display: table-cell;
		vertical-align: middle;
		height: 40px; }

.elementor-editor-content-only .elementor-first-add {
	display: none; }

.elementor-editor-content-only .elementor-section > .elementor-element-overlay {
	display: none; }
	.elementor-editor-content-only .elementor-section > .elementor-element-overlay:after {
		display: none; }

.elementor-editor-content-only .elementor-section:hover > .elementor-element-overlay:after, .elementor-editor-content-only .elementor-section.elementor-element-editable > .elementor-element-overlay:after {
	display: none; }

.elementor-editor-content-only .elementor-column > .elementor-element-overlay {
	display: none; }
	.elementor-editor-content-only .elementor-column > .elementor-element-overlay:after {
		display: none; }

.elementor-editor-content-only .elementor-column:hover > .elementor-element-overlay:after, .elementor-editor-content-only .elementor-column.elementor-element-editable > .elementor-element-overlay:after {
	display: none; }

@media (min-width: 1025px) {
	.elementor-editor-content-only .elementor-editor-element-edit {
		cursor: pointer; } }

.elementor-sortable-placeholder:not(.elementor-column-placeholder) {
	background-color: #71d7f7;
	animation-duration: 250ms;
	opacity: .9;
	width: 100%;
	align-self: stretch; }

.elementor-section-placeholder {
	height: 40px;
	animation-name: placeholder-section; }

.elementor-column-placeholder {
	position: relative; }
	.elementor-column-placeholder:before, .elementor-column-placeholder:after {
		content: '';
		position: absolute;
		top: 10px;
		bottom: 10px;
		right: 10px;
		left: 10px; }
	.elementor-column-placeholder:before {
		border: 1px solid #6d7882; }
	.elementor-column-placeholder:after {
		border: 1px dashed #fff; }

.elementor-widget-placeholder {
	height: 10px;
	animation-name: placeholder-widget; }

.elementor-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .elementor-empty-view > .elementor-first-add:after,
.elementor-first-add.elementor-html5dnd-current-element:after {
	content: '';
	background-color: #71d7f7;
	transition-timing-function: ease-out;
	opacity: .9;
	height: 10px;
	animation: placeholder-widget 500ms;
	width: 100%; }

.elementor-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .elementor-empty-view > .elementor-first-add .elementor-icon,
.elementor-first-add.elementor-html5dnd-current-element .elementor-icon {
	display: none; }

.elementor-draggable-over[data-dragged-element="section"][data-dragged-is-inner="true"] .elementor-inner-column .elementor-sortable-placeholder {
	display: none; }

.elementor-add-section {
	all: initial;
	display: flex;
	max-width: 100%;
	position: relative; }
	.elementor-add-section:not(.elementor-dragging-on-child) .elementor-add-section-inner {
		border: 2px dashed #d5dadf;
		background-color: rgba(255, 255, 255, 0.5); }
	.elementor-add-section.elementor-dragging-on-child .elementor-add-section-inner {
		border: 3px dashed #71d7f7; }
	.elementor-add-section[data-view="choose-action"] .elementor-select-preset {
		display: none; }
	.elementor-add-section[data-view="select-preset"] .elementor-add-new-section {
		display: none; }

.elementor-add-section-inner {
	text-align: center;
	margin: 20px;
	padding: 40px 0;
	flex-grow: 1; }

.elementor-add-new-section {
	display: inline-block; }
	.elementor-add-new-section .elementor-add-section-area-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		color: #fff;
		font-size: 16px;
		border-radius: 50%;
		transition: all .3s;
		cursor: pointer; }
		.elementor-add-new-section .elementor-add-section-area-button:hover {
			opacity: 0.85;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
		.elementor-add-new-section .elementor-add-section-area-button:active {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1); }
	.elementor-add-new-section .elementor-add-section-button {
		background-color: #D30C5C; }
	.elementor-add-new-section .elementor-add-template-button {
		background-color: #6d7882;
		margin-right: 5px; }

.elementor-add-section-drag-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
	line-height: 1;
	color: #556068;
	margin-top: 15px; }

.elementor-add-section-close {
	position: absolute;
	right: 40px;
	top: 40px;
	font-size: 20px;
	cursor: pointer;
	line-height: 1;
	color: #d5dadf; }
	.elementor-add-section-close:hover {
		color: #6d7882; }

.elementor-select-preset-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	color: #556068; }

.elementor-select-preset-list {
	list-style: none;
	padding: 0 25px;
	margin: 20px auto 0;
	overflow: hidden;
	max-width: 700px; }
	.elementor-select-preset-list .elementor-preset {
		cursor: pointer;
		margin: 0;
		padding: 10px;
		float: right;
		max-width: 33.333%; }
		.elementor-select-preset-list .elementor-preset:hover path {
			fill: #6d7882; }
		.elementor-select-preset-list .elementor-preset:not(:hover) path {
			fill: #d5dadf; }
		.elementor-select-preset-list .elementor-preset svg {
			height: 50px;
			width: 100%;
			transform: rotate(180deg); }

#elementor-add-new-section {
	margin: 60px auto; }
	#elementor-add-new-section[data-view="choose-action"] .elementor-add-section-close {
		display: none; }

.elementor-add-section-inline {
	margin: 10px auto; }

.elementor-column-percents-tooltip {
	position: absolute;
	display: none;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 10px;
	background-color: #556068;
	width: 40px;
	padding: 3.5px 0;
	text-align: center;
	z-index: 1;
	line-height: 1; }
	.elementor-column-percents-tooltip:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 8.5px solid transparent;
		top: 0; }
	.elementor-column-percents-tooltip[data-side="left"] {
		border-radius: 3px 0 0 3px;
		right: 15px; }
		.elementor-column-percents-tooltip[data-side="left"]:after {
			left: 100%;
			border-left-color: #556068;
			border-right-width: 0; }
	.elementor-column-percents-tooltip[data-side="right"] {
		border-radius: 0 3px 3px 0;
		left: 15px; }
		.elementor-column-percents-tooltip[data-side="right"]:after {
			right: 100%;
			border-right-color: #556068;
			border-left-width: 0; }

.elementor-editor-preview .elementor-element-overlay,
.elementor-editor-preview .elementor-empty,
.elementor-editor-preview .elementor-add-section,
.elementor-editor-preview .elementor-add-section-inline,
.elementor-editor-preview .elementor-empty-view,
.elementor-editor-preview .elementor-widget-empty {
	display: none; }

[data-elementor-device-mode="desktop"] .elementor-edit-area-active .elementor-hidden-desktop,
[data-elementor-device-mode="tablet"] .elementor-edit-area-active .elementor-hidden-tablet,
[data-elementor-device-mode="mobile"] .elementor-edit-area-active .elementor-hidden-phone {
	display: inherit;
	background: repeating-linear-gradient(125deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, transparent 2px, transparent 9px);
	border: 1px solid rgba(0, 0, 0, 0.02); }
	[data-elementor-device-mode="desktop"] .elementor-edit-area-active .elementor-hidden-desktop.elementor-section > .elementor-element-overlay,
	[data-elementor-device-mode="tablet"] .elementor-edit-area-active .elementor-hidden-tablet.elementor-section > .elementor-element-overlay,
	[data-elementor-device-mode="mobile"] .elementor-edit-area-active .elementor-hidden-phone.elementor-section > .elementor-element-overlay {
		background-color: #d5dadf;
		mix-blend-mode: color; }
	[data-elementor-device-mode="desktop"] .elementor-edit-area-active .elementor-hidden-desktop.elementor-section:before,
	[data-elementor-device-mode="tablet"] .elementor-edit-area-active .elementor-hidden-tablet.elementor-section:before,
	[data-elementor-device-mode="mobile"] .elementor-edit-area-active .elementor-hidden-phone.elementor-section:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.6);
		z-index: 9997; }
	[data-elementor-device-mode="desktop"] .elementor-edit-area-active .elementor-hidden-desktop > .elementor-widget-container,
	[data-elementor-device-mode="desktop"] .elementor-edit-area-active .elementor-hidden-desktop > .elementor-column-wrap,
	[data-elementor-device-mode="tablet"] .elementor-edit-area-active .elementor-hidden-tablet > .elementor-widget-container,
	[data-elementor-device-mode="tablet"] .elementor-edit-area-active .elementor-hidden-tablet > .elementor-column-wrap,
	[data-elementor-device-mode="mobile"] .elementor-edit-area-active .elementor-hidden-phone > .elementor-widget-container,
	[data-elementor-device-mode="mobile"] .elementor-edit-area-active .elementor-hidden-phone > .elementor-column-wrap {
		filter: opacity(0.4) saturate(0); }

.elementor-edit-area-active .elementor .elementor-inline-editing {
	pointer-events: none; }

[data-elementor-type$=miniature] .elementor-preset {
	min-width: 33.333%; }

[data-elementor-type$=miniature] .elementor-preset[data-structure="40"],
[data-elementor-type$=miniature] .elementor-preset[data-structure="50"],
[data-elementor-type$=miniature] .elementor-preset[data-structure="60"],
.elementor-section-tabbed > .elementor-container > .elementor-row > .elementor-column > .ui-resizable-handle,
.elementor-widget-listing-active-filters .elementor-widget-container:not(:empty) + .elementor-widget-empty-icon {
	display: none !important; }