config_*.xml
bin/*
.bashrc
.bash_profile
.bash_logout
.bash_history
.pki/*
.git-credentials
translations/*
!translations/index.php
!translations/en.php
!translations/es.php
!translations/it.php
!translations/fr.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
!translations/vn.php
.DS_Store
.idea/*

