<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>creativeelements</name>
    <displayName><![CDATA[Creative Elements - live Theme &amp; Page Builder]]></displayName>
    <version><![CDATA[2.10.1]]></version>
    <description><![CDATA[The most advanced frontend drag &amp; drop page builder. Create high-end, pixel perfect websites at record speeds. Any theme, any page, any design.]]></description>
    <author><![CDATA[WebshopWorks]]></author>
    <tab><![CDATA[content_management]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>