<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>thecheckout</name>
    <displayName><![CDATA[The Checkout]]></displayName>
    <version><![CDATA[3.3.12]]></version>
    <description><![CDATA[Powerful and intuitive checkout process.]]></description>
    <author><![CDATA[Zelarg]]></author>
    <tab><![CDATA[checkout]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>