#fancybox-inner {
    z-index: 10;
    width: 100%;
    padding: 36px 0 60px;
    margin: 0 0 -50px 0;
    float: left
}
.fancybox-inner .bootstrap {
    padding: 120px 10px 0;
    -webkit-transition-property: margin;
    transition-property: margin;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}
.fancybox-inner .bootstrap .panel, .fancybox-inner .bootstrap #dash_version, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #d3d8db;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px
}
.fancybox-inner .bootstrap .panel.panel-highlighted, .fancybox-inner .bootstrap .panel-highlighted#dash_version, .fancybox-inner .bootstrap .message-item-initial .panel-highlighted.message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .panel-highlighted.timeline-panel {
    border-color: #00aff0 !important;
    -webkit-box-shadow: rgba(0, 175, 240, 0.15) 0 0 0 6px inset !important;
    box-shadow: rgba(0, 175, 240, 0.15) 0 0 0 6px inset !important
}
.fancybox-inner .bootstrap .panel .panel-heading, .fancybox-inner .bootstrap #dash_version .panel-heading, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel-heading, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading {
    font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    height: 32px
}
.fancybox-inner .bootstrap .panel .panel-heading .btn, .fancybox-inner .bootstrap #dash_version .panel-heading .btn, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel-heading .btn, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading .btn {
    padding: 4px 8px !important
}
.fancybox-inner .bootstrap .panel .panel-heading a.btn, .fancybox-inner .bootstrap #dash_version .panel-heading a.btn, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel-heading a.btn, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading a.btn {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: none;
    position: relative;
    top: 2px
}
.fancybox-inner .bootstrap .panel .panel-heading i, .fancybox-inner .bootstrap #dash_version .panel-heading i, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel-heading i, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading i {
    font-size: 14px
}
.fancybox-inner .bootstrap .panel .panel, .fancybox-inner .bootstrap #dash_version .panel, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel, .fancybox-inner .bootstrap .panel #dash_version, .fancybox-inner .bootstrap #dash_version #dash_version, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body #dash_version, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel #dash_version, .fancybox-inner .bootstrap .panel .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .panel .message-item-initial-body, .fancybox-inner .bootstrap #dash_version .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial #dash_version .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .timeline .timeline-item .timeline-caption .timeline-panel .message-item-initial-body, .fancybox-inner .bootstrap .panel .timeline .timeline-item .timeline-caption .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .panel .timeline-panel, .fancybox-inner .bootstrap #dash_version .timeline .timeline-item .timeline-caption .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption #dash_version .timeline-panel, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .timeline .timeline-item .timeline-caption .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .message-item-initial .message-item-initial-body .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .timeline-panel {
    border: solid 1px #ddd
}
.fancybox-inner .bootstrap .panel .panel.tab-content, .fancybox-inner .bootstrap #dash_version .panel.tab-content, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel.tab-content, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel.tab-content, .fancybox-inner .bootstrap .panel .tab-content#dash_version, .fancybox-inner .bootstrap #dash_version .tab-content#dash_version, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .tab-content#dash_version, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .tab-content#dash_version, .fancybox-inner .bootstrap .panel .message-item-initial .tab-content.message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .panel .tab-content.message-item-initial-body, .fancybox-inner .bootstrap #dash_version .message-item-initial .tab-content.message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial #dash_version .tab-content.message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .tab-content.message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .message-item-initial .tab-content.message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .timeline .timeline-item .timeline-caption .timeline-panel .tab-content.message-item-initial-body, .fancybox-inner .bootstrap .panel .timeline .timeline-item .timeline-caption .tab-content.timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .panel .tab-content.timeline-panel, .fancybox-inner .bootstrap #dash_version .timeline .timeline-item .timeline-caption .tab-content.timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption #dash_version .tab-content.timeline-panel, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .timeline .timeline-item .timeline-caption .tab-content.timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .message-item-initial .message-item-initial-body .tab-content.timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .tab-content.timeline-panel {
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}
.fancybox-inner .bootstrap h3:not(.modal-title), .fancybox-inner .bootstrap .panel-heading {
    border: none;
    font-size: 1.2em;
    line-height: 2.2em;
    height: 2.2em;
    text-transform: uppercase;
    border-bottom: solid 1px #eee;
    padding: 0 0 0 5px;
    margin: -20px -16px 15px -16px
}
.fancybox-inner .bootstrap h3:not(.modal-title) i, .fancybox-inner .bootstrap h3:not(.modal-title) a, .fancybox-inner .bootstrap .panel-heading i, .fancybox-inner .bootstrap .panel-heading a {
    color: contrasted(#e5e8e3)
}
.fancybox-inner .bootstrap h3:not(.modal-title) .badge, .fancybox-inner .bootstrap h3:not(.modal-title) #header_notifs_icon_wrapper .notifs_badge, #header_notifs_icon_wrapper .fancybox-inner .bootstrap h3:not(.modal-title) .notifs_badge, .fancybox-inner .bootstrap h3:not(.modal-title) .module-badge-popular, .fancybox-inner .bootstrap h3:not(.modal-title) .module-badge-partner, .fancybox-inner .bootstrap h3:not(.modal-title) .module-badge-bought, .fancybox-inner .bootstrap .panel-heading .badge, .fancybox-inner .bootstrap .panel-heading #header_notifs_icon_wrapper .notifs_badge, #header_notifs_icon_wrapper .fancybox-inner .bootstrap .panel-heading .notifs_badge, .fancybox-inner .bootstrap .panel-heading .module-badge-popular, .fancybox-inner .bootstrap .panel-heading .module-badge-partner, .fancybox-inner .bootstrap .panel-heading .module-badge-bought {
    color: #555;
    font-size: 1.1em;
    line-height: 1.2em;
    padding: 0 10px;
    font-weight: 700;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    margin-left: 0.4em;
    -webkit-border-radius: 20px;
    border-radius: 20px
}
.fancybox-inner .bootstrap h3:not(.modal-title) .badge a, .fancybox-inner .bootstrap h3:not(.modal-title) #header_notifs_icon_wrapper .notifs_badge a, #header_notifs_icon_wrapper .fancybox-inner .bootstrap h3:not(.modal-title) .notifs_badge a, .fancybox-inner .bootstrap h3:not(.modal-title) .module-badge-popular a, .fancybox-inner .bootstrap h3:not(.modal-title) .module-badge-partner a, .fancybox-inner .bootstrap h3:not(.modal-title) .module-badge-bought a, .fancybox-inner .bootstrap .panel-heading .badge a, .fancybox-inner .bootstrap .panel-heading #header_notifs_icon_wrapper .notifs_badge a, #header_notifs_icon_wrapper .fancybox-inner .bootstrap .panel-heading .notifs_badge a, .fancybox-inner .bootstrap .panel-heading .module-badge-popular a, .fancybox-inner .bootstrap .panel-heading .module-badge-partner a, .fancybox-inner .bootstrap .panel-heading .module-badge-bought a {
    display: block;
    font-size: 0.8em
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action, .fancybox-inner .bootstrap .panel-heading .panel-heading-action {
    line-height: 0;
    position: absolute;
    top: 2px;
    right: 0
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action .btn, .fancybox-inner .bootstrap .panel-heading .panel-heading-action .btn {
    padding: 4px 8px !important
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action .btn-group, .fancybox-inner .bootstrap .panel-heading .panel-heading-action .btn-group {
    position: absolute;
    white-space: nowrap;
    top: -2px;
    right: 2px
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action .btn-group a.btn, .fancybox-inner .bootstrap .panel-heading .panel-heading-action .btn-group a.btn {
    float: none
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action > a.btn, .fancybox-inner .bootstrap .panel-heading .panel-heading-action > a.btn {
    position: absolute;
    top: 0;
    right: 2px
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action a.list-toolbar-btn, .fancybox-inner .bootstrap .panel-heading .panel-heading-action a.list-toolbar-btn {
    height: 30px;
    width: 30px;
    color: #CCC;
    float: left;
    border-left: solid 1px #eee
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action a.list-toolbar-btn:hover, .fancybox-inner .bootstrap .panel-heading .panel-heading-action a.list-toolbar-btn:hover {
    text-decoration: none;
    color: #00aff0
}
.fancybox-inner .bootstrap h3:not(.modal-title) .panel-heading-action a.list-toolbar-btn i, .fancybox-inner .bootstrap .panel-heading .panel-heading-action a.list-toolbar-btn i {
    text-align: center;
    font-size: 18px;
    line-height: 30px
}
.fancybox-inner .bootstrap .panel-danger .panel-heading {
    background-color: #8BC954 !important
}
.fancybox-inner .bootstrap form .alert, .fancybox-inner .bootstrap form #carrier_wizard .wizard_error, .fancybox-inner .bootstrap #carrier_wizard form .wizard_error {
    clear: both
}
@media (max-width: 480px) {
    .fancybox-inner .bootstrap {
        padding: 120px 5px 0;
        margin-left: 0 !important
    }
}
.fancybox-inner .bootstrap .help-block {
    font-style: italic
}
.fancybox-inner .bootstrap .nav.nav-tabs li.active a, .fancybox-inner .bootstrap .nav-tabs#header_notifs_icon_wrapper li.active a, .fancybox-inner .bootstrap .nav-tabs#header_employee_box li.active a, .fancybox-inner .bootstrap .nav-tabs#header_quick li.active a, .fancybox-inner .bootstrap .nav-tabs#header_shop li.active a {
    z-index: 99
}
.fancybox-inner .bootstrap .breadcrumb {
    background-color: #fff;
    border: solid 1px #d3d8db
}
.fancybox-inner .bootstrap .panel.panel-sm, .fancybox-inner .bootstrap .panel-sm#dash_version, .fancybox-inner .bootstrap .message-item-initial .panel-sm.message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .panel-sm.timeline-panel {
    padding: 8px !important
}
.fancybox-inner .bootstrap .panel.panel-sm .panel-heading, .fancybox-inner .bootstrap .panel-sm#dash_version .panel-heading, .fancybox-inner .bootstrap .message-item-initial .panel-sm.message-item-initial-body .panel-heading, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .panel-sm.timeline-panel .panel-heading {
    font-size: 13px;
    margin: -8px -8px 10px;
    padding-left: 8px
}
.fancybox-inner .bootstrap .panel.panel-sm .form-group, .fancybox-inner .bootstrap .panel-sm#dash_version .form-group, .fancybox-inner .bootstrap .message-item-initial .panel-sm.message-item-initial-body .form-group, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .panel-sm.timeline-panel .form-group {
    margin-bottom: 8px
}

.fancybox-inner .bootstrap {
    margin: 0 !important;
    padding: 0 !important
}
.fancybox-inner .bootstrap .page-head {
    display: none !important
}
.fancybox-inner .bootstrap .panel, .fancybox-inner .bootstrap #dash_version, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel {
    page-break-inside: avoid !important;
    clear: both !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}
.fancybox-inner .bootstrap .panel .panel-heading, .fancybox-inner .bootstrap #dash_version .panel-heading, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel-heading, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel-heading {
    margin: 0 0 20px !important
}
.fancybox-inner .bootstrap .panel .panel, .fancybox-inner .bootstrap #dash_version .panel, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .panel, .fancybox-inner .bootstrap .panel #dash_version, .fancybox-inner .bootstrap #dash_version #dash_version, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body #dash_version, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel #dash_version, .fancybox-inner .bootstrap .panel .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .panel .message-item-initial-body, .fancybox-inner .bootstrap #dash_version .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial #dash_version .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .message-item-initial .timeline .timeline-item .timeline-caption .timeline-panel .message-item-initial-body, .fancybox-inner .bootstrap .panel .timeline .timeline-item .timeline-caption .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .panel .timeline-panel, .fancybox-inner .bootstrap #dash_version .timeline .timeline-item .timeline-caption .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption #dash_version .timeline-panel, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .timeline .timeline-item .timeline-caption .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .message-item-initial .message-item-initial-body .timeline-panel, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .timeline-panel, .fancybox-inner .bootstrap .panel .well, .fancybox-inner .bootstrap #dash_version .well, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body .well, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel .well {
    margin: 0 !important
}
.fancybox-inner .bootstrap .tab-pane {
    margin-bottom: 20px !important
}
.fancybox-inner .bootstrap .row, .fancybox-inner .bootstrap .multishop-well, .fancybox-inner .bootstrap #dashboard .data_list_vertical {
    margin-bottom: 20px !important
}
.fancybox-inner .bootstrap .panel, .fancybox-inner .bootstrap #dash_version, .fancybox-inner .bootstrap .message-item-initial .message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .timeline-panel {
    clear: both !important
}
.fancybox-inner .bootstrap .btn {
    display: none !important
}
.fancybox-inner .bootstrap .panel-heading-action {
    display: none
}
.fancybox-inner .bootstrap .nav-tabs li a {
    display: none;
    border-bottom-color: #fff !important;
    background-color: #fff !important
}
.fancybox-inner .bootstrap .tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important
}
.fancybox-inner .bootstrap h4 {
    margin: 0 0 10px 0 !important
}
.fancybox-inner .bootstrap #shipping .form-horizontal {
    padding-bottom: 10px !important
}
.fancybox-inner .bootstrap #addressShipping {
    width: 49% !important;
    float: left !important;
    margin-bottom: 0 !important
}
.fancybox-inner .bootstrap #addressInvoice {
    width: 49% !important;
    float: right !important;
    margin-bottom: 0 !important
}
.fancybox-inner .bootstrap #status tr:first-child td {
    font-weight: bold !important
}
.fancybox-inner .bootstrap .table {
    border: solid 1px #fbd7d7 !important;
    margin-bottom: 10px !important;
}
.fancybox-inner .bootstrap .table th {
    font-style: italic
}
.fancybox-inner .bootstrap .label-inactive {
    font-size: 11pt !important;
    text-decoration: line-through !important
}
.fancybox-inner .bootstrap .label-inactive i {
    display: none !important
}
.fancybox-inner .bootstrap .kpi-container.panel, .fancybox-inner .bootstrap .kpi-container#dash_version, .fancybox-inner .bootstrap .message-item-initial .kpi-container.message-item-initial-body, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .kpi-container.timeline-panel {
    margin: 30px 0 20px 0 !important;
    border: solid 1px #000 !important
}
.fancybox-inner .bootstrap .kpi-container.panel .box-stats, .fancybox-inner .bootstrap .kpi-container#dash_version .box-stats, .fancybox-inner .bootstrap .message-item-initial .kpi-container.message-item-initial-body .box-stats, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .kpi-container.timeline-panel .box-stats {
    padding: 10px 0 !important;
    height: auto !important;
    width: 25% !important;
    font-size: 8pt !important
}
.fancybox-inner .bootstrap .kpi-container.panel .box-stats i, .fancybox-inner .bootstrap .kpi-container#dash_version .box-stats i, .fancybox-inner .bootstrap .message-item-initial .kpi-container.message-item-initial-body .box-stats i, .fancybox-inner .bootstrap .timeline .timeline-item .timeline-caption .kpi-container.timeline-panel .box-stats i {
    font-size: 20pt !important
}
.fancybox-inner .bootstrap .alert, .fancybox-inner .bootstrap #carrier_wizard .wizard_error {
    border: 1px solid #000 !important
}
.fancybox-inner .bootstrap .alert:before, .fancybox-inner .bootstrap #carrier_wizard .wizard_error:before {
    color: #000 !important
}
.fancybox-inner .bootstrap .table-responsive {
    border: none !important;
    margin: 0 !important
}
.fancybox-inner .bootstrap .panel-total td {
    font-size: 13pt !important
}
.fancybox-inner .bootstrap .panel, .fancybox-inner .bootstrap #dash_version {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #d3d8db !important;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}