<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>baecommercetracking</name>
    <displayName><![CDATA[Google and Facebook Conversion Tracking.]]></displayName>
    <version><![CDATA[1.0.6]]></version>
    <description><![CDATA[Tracking Conversion from Google Analytics, Google Adword, Facebook Pixel.]]></description>
    <author><![CDATA[buy-addons]]></author>
    <tab><![CDATA[analytics_stats]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>