*.xml
views/img/upload/*
!views/img/upload/index.php
!views/img/upload/email1.jpg
!views/img/upload/email2.jpg
!views/img/upload/email3.jpg
!views/img/upload/email4.jpg
!views/img/upload/email5.jpg
!views/img/upload/customer1.jpg
!views/img/upload/customer2.jpg
!views/img/upload/customer3.jpg
!views/img/upload/customer4.jpg
!views/img/upload/customer5.jpg
!views/img/upload/customer6.jpg
!views/img/upload/customer7.jpg
!views/img/upload/customer8.jpg
!views/img/upload/customer9.jpg
!views/img/upload/customer10.jpg
!views/img/upload/customer11.jpg
!views/img/upload/image.jpg
cache
.bash_profile
.bashrc
.git-credentials
.gitconfig
.bash_history
classes/mail.log
*.DS_Store
.idea
!config.xml
views/img/banner/*
!views/img/banner/index.php
cache/*
!cache/index.php
/mails/*
!/mails/index.php
!/mails/en/
!/mails/es/
!/mails/fr/
!/mails/it/
!/mails/de/
!/mails/pl/
!/mails/pt/
!/mails/cs/
!/mails/nl/
!/mails/ru/
translations/*
!translations/en.php
!translations/es.php
!translations/fr.php
!translations/it.php
!translations/fa.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
!translations/index.php
.bashrc
.bash_profile
.bash_history
.bash_logout
.gitconfig
.git-credentials
.idea
views/templates/hook/demo.tpl
config.xml
*.md
