<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>sitemappro</name>
    <displayName><![CDATA[Site map pro]]></displayName>
    <version><![CDATA[2.0.12]]></version>
    <description><![CDATA[Create site map]]></description>
    <author><![CDATA[SeoSa]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>