@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

.elementor-hidden {
	display: none; }

.elementor-screen-only,
.screen-reader-text {
	position: absolute;
	top: -10000em;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0; }

.elementor-clearfix:after {
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0; }

.elementor {
	-webkit-hyphens: manual;
			-ms-hyphens: manual;
					hyphens: manual; }
	.elementor *, .elementor *:before, .elementor *:after {
		box-sizing: border-box; }
	.elementor a {
		box-shadow: none;
		text-decoration: none; }
	.elementor hr {
		margin: 0;
		background-color: transparent; }
	.elementor img {
		height: auto;
		max-width: 100%;
		border: none;
		border-radius: 0;
		box-shadow: none; }
	.elementor .elementor-widget:not(.elementor-widget-image-box) figure {
		margin: 0; }
	.elementor embed,
	.elementor iframe,
	.elementor object,
	.elementor video {
		max-width: 100%;
		width: 100%;
		margin: 0;
		line-height: 1;
		border: none; }
	.elementor .elementor-custom-embed {
		line-height: 0; }
	.elementor .elementor-background-video-container,
	.elementor .elementor-background-holder,
	.elementor .elementor-background {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		z-index: 0;
		direction: ltr; }
	.elementor .elementor-background-video-container {
		transition: opacity 1s;
		pointer-events: none; }
		.elementor .elementor-background-video-container.elementor-loading {
			opacity: 0; }
	.elementor .elementor-background-video-embed {
		max-width: none; }
	.elementor .elementor-background-video-embed, .elementor .elementor-background-video-hosted {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); }
	.elementor .elementor-background-video {
		max-width: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); }
	.elementor .elementor-html5-video {
		object-fit: cover; }
	.elementor .elementor-background-overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute; }
	.elementor .elementor-background-slideshow {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
		right: 0; }
		.elementor .elementor-background-slideshow__slide__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center; }

.elementor-widget-wrap > .elementor-element.elementor-absolute {
	position: absolute; }

.elementor-widget-wrap > .elementor-element.elementor-fixed {
	position: fixed; }

.elementor-widget-wrap .elementor-element.elementor-widget__width-auto,
.elementor-widget-wrap .elementor-element.elementor-widget__width-initial,
.elementor-widget-wrap .elementor-element.elementor-widget__width-calc {
	max-width: 100%; }

@media (max-width: 1024px) {
	.elementor-widget-wrap .elementor-element.elementor-widget-tablet__width-auto,
	.elementor-widget-wrap .elementor-element.elementor-widget-tablet__width-initial,
	.elementor-widget-wrap .elementor-element.elementor-widget-tablet__width-calc {
		max-width: 100%; } }

@media (max-width: 767px) {
	.elementor-widget-wrap .elementor-element.elementor-widget-mobile__width-auto,
	.elementor-widget-wrap .elementor-element.elementor-widget-mobile__width-initial,
	.elementor-widget-wrap .elementor-element.elementor-widget-mobile__width-calc {
		max-width: 100%; } }

.elementor-element.elementor-absolute, .elementor-element.elementor-fixed {
	z-index: 1; }

.elementor-invisible {
	visibility: hidden; }

.elementor-align-center {
	text-align: center; }
	.elementor-align-center .elementor-button {
		width: auto; }

.elementor-align-right {
	text-align: right; }
	.elementor-align-right .elementor-button {
		width: auto; }

.elementor-align-left {
	text-align: left; }
	.elementor-align-left .elementor-button {
		width: auto; }

.elementor-align-justify .elementor-button {
	width: 100%; }

.elementor-custom-embed-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); }
	.elementor-custom-embed-play i {
		font-size: 100px;
		color: #fff;
		opacity: 0.8;
		text-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
		transition: all .5s; }
	.elementor-custom-embed-play.elementor-playing i {
		font-family: ceicons;
		animation: ceicon-spin 2s infinite linear; }
		.elementor-custom-embed-play.elementor-playing i:before {
			content: '\e823'; }

.elementor-tag {
	display: inline-flex; }

.elementor-ken-burns {
	transition-property: transform;
	transition-duration: 10s;
	transition-timing-function: linear; }
	.elementor-ken-burns--out {
		transform: scale(1.3); }
	.elementor-ken-burns--active {
		transition-duration: 20s; }
		.elementor-ken-burns--active.elementor-ken-burns--out {
			transform: scale(1); }
		.elementor-ken-burns--active.elementor-ken-burns--in {
			transform: scale(1.3); }

@media (max-width: 1024px) {
	.elementor-tablet-align-center {
		text-align: center; }
		.elementor-tablet-align-center .elementor-button {
			width: auto; }
	.elementor-tablet-align-right {
		text-align: right; }
		.elementor-tablet-align-right .elementor-button {
			width: auto; }
	.elementor-tablet-align-left {
		text-align: left; }
		.elementor-tablet-align-left .elementor-button {
			width: auto; }
	.elementor-tablet-align-justify .elementor-button {
		width: 100%; } }

@media (max-width: 767px) {
	.elementor-mobile-align-center {
		text-align: center; }
		.elementor-mobile-align-center .elementor-button {
			width: auto; }
	.elementor-mobile-align-right {
		text-align: right; }
		.elementor-mobile-align-right .elementor-button {
			width: auto; }
	.elementor-mobile-align-left {
		text-align: left; }
		.elementor-mobile-align-left .elementor-button {
			width: auto; }
	.elementor-mobile-align-justify .elementor-button {
		width: 100%; } }

.elementor-section {
	position: relative; }
	.elementor-section .elementor-container {
		display: flex;
		margin-right: auto;
		margin-left: auto;
		position: relative; }
	.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 1140px; }
	.elementor-section.elementor-section-stretched {
		position: relative;
		width: 100%; }
	.elementor-section.elementor-section-items-top > .elementor-container {
		align-items: flex-start; }
	.elementor-section.elementor-section-items-middle > .elementor-container {
		align-items: center; }
	.elementor-section.elementor-section-items-bottom > .elementor-container {
		align-items: flex-end; }
	@media (min-width: 768px) {
		.elementor-section.elementor-section-height-full {
			height: 100vh; }
			.elementor-section.elementor-section-height-full > .elementor-container {
				height: 100%; } }

.elementor-bc-flex-widget .elementor-section-content-top > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap {
	align-items: flex-start; }

.elementor-bc-flex-widget .elementor-section-content-middle > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap {
	align-items: center; }

.elementor-bc-flex-widget .elementor-section-content-bottom > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap {
	align-items: flex-end; }

.elementor-row {
	width: 100%;
	display: flex; }
	@media (max-width: 1024px) {
		.elementor-row {
			flex-wrap: wrap; } }

.elementor-column-wrap {
	width: 100%;
	position: relative;
	display: flex; }

.elementor-widget-wrap {
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	align-content: flex-start; }
	.elementor-html .elementor-widget-wrap,
	.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
		display: flex; }
	.elementor-widget-wrap > .elementor-element {
		width: 100%; }

.elementor-widget {
	position: relative; }
	.elementor-widget:not(:last-child) {
		margin-bottom: var(--ce-widgets-space, 20px); }
		.elementor-widget:not(:last-child).elementor-widget__width-auto,
		.elementor-widget:not(:last-child).elementor-widget__width-initial,
		.elementor-widget:not(:last-child).elementor-widget__width-calc,
		.elementor-widget:not(:last-child).elementor-absolute,
		.ce-widgets-space--gap > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
			margin-bottom: 0; }
		.ce-widgets-space--gap > .elementor-column-wrap > .elementor-widget-wrap {
			gap: var(--ce-widgets-space, 20px); }

.elementor-column {
	position: relative;
	min-height: 1px;
	display: flex; }

.elementor-column-gap-narrow > .elementor-row > .elementor-column > .elementor-element-populated {
	padding: 5px; }

.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
	padding: 10px; }

.elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-element-populated {
	padding: 15px; }

.elementor-column-gap-wide > .elementor-row > .elementor-column > .elementor-element-populated {
	padding: 20px; }

.elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-element-populated {
	padding: 30px; }

.elementor-inner-section .elementor-column-gap-no .elementor-element-populated {
	padding: 0; }

@media (min-width: 768px) {
	.elementor-column.elementor-col-10, .elementor-column[data-col="10"] {
		width: 10%; }
	.elementor-column.elementor-col-11, .elementor-column[data-col="11"] {
		width: 11.111%; }
	.elementor-column.elementor-col-12, .elementor-column[data-col="12"] {
		width: 12.5%; }
	.elementor-column.elementor-col-14, .elementor-column[data-col="14"] {
		width: 14.285%; }
	.elementor-column.elementor-col-16, .elementor-column[data-col="16"] {
		width: 16.666%; }
	.elementor-column.elementor-col-20, .elementor-column[data-col="20"] {
		width: 20%; }
	.elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
		width: 25%; }
	.elementor-column.elementor-col-30, .elementor-column[data-col="30"] {
		width: 30%; }
	.elementor-column.elementor-col-33, .elementor-column[data-col="33"] {
		width: 33.333%; }
	.elementor-column.elementor-col-40, .elementor-column[data-col="40"] {
		width: 40%; }
	.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
		width: 50%; }
	.elementor-column.elementor-col-60, .elementor-column[data-col="60"] {
		width: 60%; }
	.elementor-column.elementor-col-66, .elementor-column[data-col="66"] {
		width: 66.666%; }
	.elementor-column.elementor-col-70, .elementor-column[data-col="70"] {
		width: 70%; }
	.elementor-column.elementor-col-75, .elementor-column[data-col="75"] {
		width: 75%; }
	.elementor-column.elementor-col-80, .elementor-column[data-col="80"] {
		width: 80%; }
	.elementor-column.elementor-col-83, .elementor-column[data-col="83"] {
		width: 83.333%; }
	.elementor-column.elementor-col-90, .elementor-column[data-col="90"] {
		width: 90%; }
	.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
		width: 100%; } }

@media (max-width: 479px) {
	.elementor-column.elementor-xs-10 {
		width: 10%; }
	.elementor-column.elementor-xs-11 {
		width: 11.111%; }
	.elementor-column.elementor-xs-12 {
		width: 12.5%; }
	.elementor-column.elementor-xs-14 {
		width: 14.285%; }
	.elementor-column.elementor-xs-16 {
		width: 16.666%; }
	.elementor-column.elementor-xs-20 {
		width: 20%; }
	.elementor-column.elementor-xs-25 {
		width: 25%; }
	.elementor-column.elementor-xs-30 {
		width: 30%; }
	.elementor-column.elementor-xs-33 {
		width: 33.333%; }
	.elementor-column.elementor-xs-40 {
		width: 40%; }
	.elementor-column.elementor-xs-50 {
		width: 50%; }
	.elementor-column.elementor-xs-60 {
		width: 60%; }
	.elementor-column.elementor-xs-66 {
		width: 66.666%; }
	.elementor-column.elementor-xs-70 {
		width: 70%; }
	.elementor-column.elementor-xs-75 {
		width: 75%; }
	.elementor-column.elementor-xs-80 {
		width: 80%; }
	.elementor-column.elementor-xs-83 {
		width: 83.333%; }
	.elementor-column.elementor-xs-90 {
		width: 90%; }
	.elementor-column.elementor-xs-100 {
		width: 100%; } }

@media (max-width: 767px) {
	.elementor-column.elementor-sm-10 {
		width: 10%; }
	.elementor-column.elementor-sm-11 {
		width: 11.111%; }
	.elementor-column.elementor-sm-12 {
		width: 12.5%; }
	.elementor-column.elementor-sm-14 {
		width: 14.285%; }
	.elementor-column.elementor-sm-16 {
		width: 16.666%; }
	.elementor-column.elementor-sm-20 {
		width: 20%; }
	.elementor-column.elementor-sm-25 {
		width: 25%; }
	.elementor-column.elementor-sm-30 {
		width: 30%; }
	.elementor-column.elementor-sm-33 {
		width: 33.333%; }
	.elementor-column.elementor-sm-40 {
		width: 40%; }
	.elementor-column.elementor-sm-50 {
		width: 50%; }
	.elementor-column.elementor-sm-60 {
		width: 60%; }
	.elementor-column.elementor-sm-66 {
		width: 66.666%; }
	.elementor-column.elementor-sm-70 {
		width: 70%; }
	.elementor-column.elementor-sm-75 {
		width: 75%; }
	.elementor-column.elementor-sm-80 {
		width: 80%; }
	.elementor-column.elementor-sm-83 {
		width: 83.333%; }
	.elementor-column.elementor-sm-90 {
		width: 90%; }
	.elementor-column.elementor-sm-100 {
		width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
	.elementor-column.elementor-md-10 {
		width: 10%; }
	.elementor-column.elementor-md-11 {
		width: 11.111%; }
	.elementor-column.elementor-md-12 {
		width: 12.5%; }
	.elementor-column.elementor-md-14 {
		width: 14.285%; }
	.elementor-column.elementor-md-16 {
		width: 16.666%; }
	.elementor-column.elementor-md-20 {
		width: 20%; }
	.elementor-column.elementor-md-25 {
		width: 25%; }
	.elementor-column.elementor-md-30 {
		width: 30%; }
	.elementor-column.elementor-md-33 {
		width: 33.333%; }
	.elementor-column.elementor-md-40 {
		width: 40%; }
	.elementor-column.elementor-md-50 {
		width: 50%; }
	.elementor-column.elementor-md-60 {
		width: 60%; }
	.elementor-column.elementor-md-66 {
		width: 66.666%; }
	.elementor-column.elementor-md-70 {
		width: 70%; }
	.elementor-column.elementor-md-75 {
		width: 75%; }
	.elementor-column.elementor-md-80 {
		width: 80%; }
	.elementor-column.elementor-md-83 {
		width: 83.333%; }
	.elementor-column.elementor-md-90 {
		width: 90%; }
	.elementor-column.elementor-md-100 {
		width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(1) {
		order: 10; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(2) {
		order: 9; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(3) {
		order: 8; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(4) {
		order: 7; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(5) {
		order: 6; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(6) {
		order: 5; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(7) {
		order: 4; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(8) {
		order: 3; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(9) {
		order: 2; }
	.elementor-reverse-tablet > .elementor-container > .elementor-row > :nth-child(10) {
		order: 1; } }

@media (max-width: 767px) {
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(1) {
		order: 10; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(2) {
		order: 9; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(3) {
		order: 8; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(4) {
		order: 7; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(5) {
		order: 6; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(6) {
		order: 5; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(7) {
		order: 4; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(8) {
		order: 3; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(9) {
		order: 2; }
	.elementor-reverse-mobile > .elementor-container > .elementor-row > :nth-child(10) {
		order: 1; }
	.elementor-column {
		width: 100%; } }

.elementor-section-tabbed > .elementor-container,
.elementor-section-tabbed > .elementor-container > .elementor-row {
	flex-wrap: wrap; }
.elementor-nav-tabs.elementor-nav--layout-horizontal {
	width: 100%; }
.elementor-nav-tabs + .elementor-row > .elementor-column {
	min-width: 100%; }
	.elementor-nav-tabs + .elementor-row > .elementor-column:not(.elementor-active) {
		position: absolute;
		top: -1000000px;
		visibility: hidden;
		pointer-events: none; }
.elementor-section-tabbed {
	counter-reset: ce-tab; }
.elementor-section-tabbed li.menu-item-type-column {
	counter-increment: ce-tab; }
.elementor-section-tabbed .ce-tab-num::after {
	content: "Tab #" counter(ce-tab); }
html[lang^=fr] .elementor-section-tabbed .ce-tab-num::after {
	content: "Onglet #" counter(ce-tab); }
html[lang^=es] .elementor-section-tabbed .ce-tab-num::after {
	content: "Pestaña #" counter(ce-tab); }
html[lang^=it] .elementor-section-tabbed .ce-tab-num::after {
	content: "Scheda #" counter(ce-tab); }
html[lang^=pl] .elementor-section-tabbed .ce-tab-num::after {
content: "Zakładka #" counter(ce-tab); }
.menu-item-type-column .elementor-item {
	gap: 5px; }

.elementor-grid .elementor-grid-item {
	min-width: 0; }

.elementor-grid-0 .elementor-grid {
	display: inline-flex;
	overflow: hidden;
	flex-wrap: wrap; }

.elementor-grid-1 .elementor-grid {
	grid-template-columns: repeat(1, minmax(0, 1fr));
	display: grid; }

.elementor-grid-2 .elementor-grid {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	display: grid; }

.elementor-grid-3 .elementor-grid {
	grid-template-columns: repeat(3, minmax(0, 1fr));
	display: grid; }

.elementor-grid-4 .elementor-grid {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	display: grid; }

.elementor-grid-5 .elementor-grid {
	grid-template-columns: repeat(5, minmax(0, 1fr));
	display: grid; }

.elementor-grid-6 .elementor-grid {
	grid-template-columns: repeat(6, minmax(0, 1fr));
	display: grid; }

.elementor-grid-7 .elementor-grid {
	grid-template-columns: repeat(7, minmax(0, 1fr));
	display: grid; }

.elementor-grid-8 .elementor-grid {
	grid-template-columns: repeat(8, minmax(0, 1fr));
	display: grid; }

.elementor-grid-9 .elementor-grid {
	grid-template-columns: repeat(9, minmax(0, 1fr));
	display: grid; }

.elementor-grid-10 .elementor-grid {
	grid-template-columns: repeat(10, minmax(0, 1fr));
	display: grid; }

.elementor-grid-11 .elementor-grid {
	grid-template-columns: repeat(11, minmax(0, 1fr));
	display: grid; }

.elementor-grid-12 .elementor-grid {
	grid-template-columns: repeat(12, minmax(0, 1fr));
	display: grid; }

@media (max-width: 1024px) {
	.elementor-grid-tablet-0 .elementor-grid {
		display: inline-flex;
		overflow: hidden;
		flex-wrap: wrap; }
	.elementor-grid-tablet-1 .elementor-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-2 .elementor-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-3 .elementor-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-4 .elementor-grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-5 .elementor-grid {
		grid-template-columns: repeat(5, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-6 .elementor-grid {
		grid-template-columns: repeat(6, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-7 .elementor-grid {
		grid-template-columns: repeat(7, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-8 .elementor-grid {
		grid-template-columns: repeat(8, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-9 .elementor-grid {
		grid-template-columns: repeat(9, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-10 .elementor-grid {
		grid-template-columns: repeat(10, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-11 .elementor-grid {
		grid-template-columns: repeat(11, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-tablet-12 .elementor-grid {
		grid-template-columns: repeat(12, minmax(0, 1fr));
		display: grid; } }

@media (max-width: 767px) {
	.elementor-grid-mobile-0 .elementor-grid {
		display: inline-flex;
		overflow: hidden;
		flex-wrap: wrap; }
	.elementor-grid-mobile-1 .elementor-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-2 .elementor-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-3 .elementor-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-4 .elementor-grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-5 .elementor-grid {
		grid-template-columns: repeat(5, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-6 .elementor-grid {
		grid-template-columns: repeat(6, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-7 .elementor-grid {
		grid-template-columns: repeat(7, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-8 .elementor-grid {
		grid-template-columns: repeat(8, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-9 .elementor-grid {
		grid-template-columns: repeat(9, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-10 .elementor-grid {
		grid-template-columns: repeat(10, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-11 .elementor-grid {
		grid-template-columns: repeat(11, minmax(0, 1fr));
		display: grid; }
	.elementor-grid-mobile-12 .elementor-grid {
		grid-template-columns: repeat(12, minmax(0, 1fr));
		display: grid; } }

@media (min-width: 1025px) {
	#elementor-device-mode:after {
		content: 'desktop'; } }

@media (min-width: 768px) and (max-width: 1024px) {
	#elementor-device-mode:after {
		content: 'tablet'; } }

@media (max-width: 767px) {
	#elementor-device-mode:after {
		content: 'mobile'; } }

.elementor .elementor-section-wrap,
.elementor-element .elementor-widget-container {
	transition:
		opacity var(--e-transform-transition-duration, .4s) var(--e-transform-transition-delay, 0s),
		background var(--e-background-transition-duration, .3s),
		border var(--e-border-transition-duration, .3s),
		border-radius var(--e-border-transition-duration, .3s),
		box-shadow var(--e-border-transition-duration, .3s); }
.e-transform-hover > .elementor-widget-container {
	transition:
		transform var(--e-transform-transition-duration, .4s) var(--e-transform-transition-delay, 0s),
		opacity var(--e-transform-transition-duration, .4s) var(--e-transform-transition-delay, 0s),
		background var(--e-background-transition-duration, .3s),
		border var(--e-border-transition-duration, .3s),
		border-radius var(--e-border-transition-duration, .3s),
		box-shadow var(--e-border-transition-duration, .3s); }
.elementor-overflow-hidden .elementor-widget-container {
	overflow: hidden; }
.elementor-element .elementor-widget-container:empty {
	display: none; }

.elementor-tab-title a {
	color: inherit; }

button.elementor-button {
	cursor: pointer; }
a.elementor-button:not(#e),
a.elementor-button:not(#e):hover,
a.elementor-button:not(#e):focus {
	color: #fff; }
.elementor-button {
	display: inline-block;
	line-height: 1;
	background-color: #818a91;
	font-size: 15px;
	padding: 12px 24px;
	border: 0 solid;
	border-radius: 3px;
	color: #fff;
	fill: currentColor;
	text-align: center; }
.elementor-button, a.elementor-button {
	transition-property: all, --ce-btn-bg-color, --ce-btn-bg-color-b;
	transition-duration: 0.5s; }
	.elementor-button-content-wrapper {
		display: flex;
		gap: 5px;
		justify-content: center;
		align-items: baseline; }
	.elementor-button-icon {
		display: flex;
		flex-grow: 0;
		order: 5; }
	.elementor-button-icon i:not(#e) {
		color: inherit; }
	.elementor-button-icon svg {
		fill: currentColor;
		width: 1em;
		height: auto; }
	.elementor-button-text {
		flex-grow: 1;
		order: 10;
		display: inline-block; }
	.elementor-button.elementor-size-xs {
		font-size: 13px;
		padding: 10px 20px;
		border-radius: 2px; }
	.elementor-button.elementor-size-md {
		font-size: 16px;
		padding: 15px 30px;
		border-radius: 4px; }
	.elementor-button.elementor-size-lg {
		font-size: 18px;
		padding: 20px 40px;
		border-radius: 5px; }
	.elementor-button.elementor-size-xl {
		font-size: 20px;
		padding: 25px 50px;
		border-radius: 6px; }
	.elementor-button .elementor-align-icon-right {
		order: 5; }
	.elementor-button .elementor-align-icon-left {
		order: 15; }
	.elementor-button span {
		text-decoration: inherit; }

.elementor-button-info .elementor-button {
	color: #fff;
	background-color: #5bc0de; }
.elementor-button-success .elementor-button {
	color: #fff;
	background-color: #5cb85c; }
.elementor-button-warning .elementor-button {
	color: #fff;
	background-color: #f0ad4e; }
.elementor-button-danger .elementor-button {
	color: #fff;
	background-color: #d9534f; }
.elementor-button-primary .elementor-button {
	color: #fff;
	border: 2px solid transparent;
	background-color: #000; }
.elementor-button-secondary .elementor-button {
	color: #000;
	border: 2px solid #000;
	background-color: transparent; }

.elementor-button-info a.elementor-button:not(#e),
.elementor-button-success a.elementor-button:not(#e),
.elementor-button-warning a.elementor-button:not(#e),
.elementor-button-danger a.elementor-button:not(#e),
.elementor-button-primary a.elementor-button:not(#e) {
	color: #fff; }
.elementor-button-secondary a.elementor-button:not(#e) {
	color: #000; }

@property --ce-btn-bg-color {
	syntax: '<color>';
	initial-value: transparent;
	inherits: false; }
@property --ce-btn-bg-color-b {
	syntax: '<color>';
	initial-value: transparent;
	inherits: false; }

.ce-scrollbar-x--auto {
	overflow: hidden;
	overflow-x: auto;
	scrollbar-width: thin;
	scroll-snap-type: x mandatory;
	flex-wrap: nowrap; }
	.ce-scrollbar-x--auto > * {
		flex-shrink: 0; }
.ce-scrollbar-y--auto {
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: thin; }
@supports selector(::-webkit-scrollbar) {
	.ce-scrollbar-x--auto,
	.ce-scrollbar-y--auto {
		scrollbar-width: unset; }
	.ce-scrollbar-x--auto::-webkit-scrollbar,
	.ce-scrollbar-y--auto::-webkit-scrollbar {
		width: 14px;
		height: 14px; }
	.ce-scrollbar-x--auto::-webkit-scrollbar-track,
	.ce-scrollbar-y--auto::-webkit-scrollbar-track {
		background: transparent; }
	.ce-scrollbar-x--auto::-webkit-scrollbar-thumb,
	.ce-scrollbar-y--auto::-webkit-scrollbar-thumb {
		border: solid transparent;
		border-width: 6px 0;
		background-color: var(--ce-scrollbar-thumb-color, rgba(0, 0, 0, 0.2));
		background-clip: content-box; }
	.ce-scrollbar-y--auto::-webkit-scrollbar-thumb {
		border-width: 0 6px; }
		.ce-scrollbar-x--auto::-webkit-scrollbar-thumb:hover,
		.ce-scrollbar-y--auto::-webkit-scrollbar-thumb:hover {
			border-width: 3px 0;
			border-radius: 6.5px;
			background-color: var(--ce-scrollbar-thumb-hover-color, rgba(0, 0, 0, 0.4)); }
		.ce-scrollbar-y--auto::-webkit-scrollbar-thumb:hover {
			border-width: 0 3px; }
		.ce-scrollbar-x--auto::-webkit-scrollbar-thumb:active,
		.ce-scrollbar-y--auto::-webkit-scrollbar-thumb:active {
			background-color: var(--ce-scrollbar-thumb-active-color, rgba(0, 0, 0, 0.6)); } }

.elementor-widget-google_maps iframe {
	height: 300px; }

.elementor .elementor-heading-title {
	padding: 0;
	margin: 0;
	line-height: 1; }
	.elementor-heading-title > a:not(#e) {
		color: inherit;
		font: inherit;
		line-height: inherit; }
	.elementor-heading-title.elementor-size-small, .elementor .ce-display-small {
		font-size: 15px; }
	.elementor-heading-title.elementor-size-medium, .elementor .ce-display-medium {
		font-size: 19px; }
	.elementor-heading-title.elementor-size-large, .elementor .ce-display-large {
		font-size: 29px; }
	.elementor-heading-title.elementor-size-xl, .elementor .ce-display-xl {
		font-size: 39px; }
	.elementor-heading-title.elementor-size-xxl, .elementor .ce-display-xxl {
		font-size: 59px; }

.elementor-widget-icon,
.elementor-icon-wrapper {
	line-height: 0; }
.elementor-icon {
	display: inline-block;
	line-height: 1;
	transition: all 0.3s;
	color: #818a91;
	font-size: 50px;
	text-align: center; }
	.elementor-icon:hover {
		color: #818a91; }
	.elementor-icon i, .elementor-icon svg {
		width: 1em;
		height: 1em;
		fill: currentColor;
		position: relative;
		display: block; }
		.elementor-icon i:before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%); }
	.elementor-icon i.fad {
		width: initial; }

.elementor-view-stacked .elementor-icon {
	padding: .5em;
	background-color: #818a91;
	color: #fff; }

.elementor-view-framed .elementor-icon {
	padding: .5em;
	color: #818a91;
	border: 3px solid currentColor;
	background-color: transparent; }

.elementor-shape-rounded .elementor-icon {
	border-radius: 10%; }
.elementor-shape-circle .elementor-icon {
	border-radius: 50%; }

.elementor-widget-image {
	text-align: center; }
	.elementor-widget-image a {
		display: inline-block; }
	.elementor-widget-image img {
		vertical-align: middle;
		display: inline-block; }

body.elementor-page .elementor-widget-menu-anchor {
	margin-bottom: 0; }

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: #818a91;
	color: #fff; }

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
	color: #818a91;
	border: 3px solid currentColor;
	background-color: transparent; }

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
	margin-top: 8px; }
	.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
		width: 1em;
		height: 1em; }

.elementor-widget-text-editor .elementor-drop-cap {
	float: right;
	text-align: center;
	line-height: 1;
	font-size: 50px; }
	.elementor-widget-text-editor .elementor-drop-cap-letter {
		display: inline-block; }

.elementor-element .swiper {
	--swiper-theme-color: #000; }

.swiper-slide {
	border-style: solid;
	border-width: 0;
	transition-property: border, background, transform;
	overflow: hidden; }

.elementor-swiper-button {
	position: absolute;
	display: inline-flex;
	z-index: 1;
	cursor: pointer;
	font-size: 25px;
	color: rgba(238, 238, 238, 0.9);
	top: 50%;
	transform: translateY(-50%); }
	.elementor-swiper-button.swiper-button-disabled {
		opacity: 0.3; }
	.elementor-swiper-button svg {
		width: 1em;
		height: 1em;
		fill: currentColor; }

.elementor-swiper-button-prev {
	left: 10px; }
.elementor-swiper-button-next {
	right: 10px; }

.elementor-lightbox {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	--lightbox-ui-color: rgba(238, 238, 238, 0.9);
	--lightbox-ui-color-hover: #fff;
	--lightbox-text-color: var(--lightbox-ui-color);
	--lightbox-header-icons-size: 20px;
	--lightbox-navigation-icons-size: 25px; }
	.elementor-lightbox::backdrop {
		background: transparent; }
	.elementor-lightbox .dialog-lightbox-close-button {
		position: absolute;
		font-size: var(--lightbox-header-icons-size);
		line-height: 1;
		top: 15px;
		left: 0.75em;
		padding: .25em;
		cursor: pointer;
		z-index: 2; }
	.elementor-lightbox .dialog-lightbox-close-button,
	.elementor-lightbox .elementor-swiper-button {
		color: var(--lightbox-ui-color);
		transition: all 0.3s;
		opacity: 1; }
		.elementor-lightbox .dialog-lightbox-close-button:hover,
		.elementor-lightbox .elementor-swiper-button:hover {
			color: var(--lightbox-ui-color-hover); }

.animated {
	animation-duration: 1.25s; }
	.animated.animated-slow {
		animation-duration: 2s; }
	.animated.animated-fast {
		animation-duration: .75s; }
	.animated.infinite {
		animation-iteration-count: infinite; }
	.animated.reverse {
		animation-direction: reverse; }

@media (prefers-reduced-motion: reduce) {
	.animated {
		animation: none; } }

.elementor-shape {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	line-height: 0;
	direction: ltr; }
	.elementor-shape-top {
		top: -1px; }
	.elementor-shape-bottom {
		bottom: -1px; }
	.elementor-shape[data-negative="false"].elementor-shape-bottom {
		transform: rotate(180deg); }
	.elementor-shape[data-negative="true"].elementor-shape-top {
		transform: rotate(180deg); }
	.elementor-shape svg {
		display: block;
		width: calc(100% + 1.3px);
		position: relative;
		left: 50%;
		transform: translateX(-50%); }
	.elementor-shape .elementor-shape-fill {
		fill: #fff;
		transform-origin: center;
		transform: rotateY(0deg); }

.layout-canvas.elementor-page:before {
	display: none; }

@media (max-width: 767px) {
	.elementor:not(.elementor-edit-area-active) .elementor-hidden-phone {
		display: none; } }

@media (min-width: 768px) and (max-width: 1024px) {
	.elementor:not(.elementor-edit-area-active) .elementor-hidden-tablet {
		display: none; } }

@media (min-width: 1025px) {
	.elementor:not(.elementor-edit-area-active) .elementor-hidden-desktop {
		display: none; } }

.ce-breadcrumb .elementor-row {
	margin: 0 -10px;
	padding: 0; }
.ce-breadcrumb .ce-breadcrumb__item {
	display: flex;
	align-items: center; }
	.ce-breadcrumb .ce-breadcrumb__item > * {
		padding: 0 10px; }
	.ce-breadcrumb .ce-breadcrumb__item:not(:last-child):after {
		transform: scale(-1, 1); }

.ce-product-grid > *,
.elementor-product-box > * {
	float: none !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: auto; }

.ce-product-grid {
	margin: 0;
	gap: 15px; }
	.ce-product-grid:before,
	.ce-product-grid:after {
		display: none !important; }
	.ce-product-grid > * {
		align-self: flex-start; }

.elementor-sticky--active {
	z-index: 99; }
.elementor-sticky.ce-sticky--hide {
	transition-delay: .2s !important; }

.elementor-item:before,
.elementor-item:after {
	display: block;
	position: absolute;
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1); }

.elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
	opacity: 0; }

.elementor-item:hover:before,
.elementor-item:hover:after,
.elementor-item:focus:before,
.elementor-item:focus:after,
.elementor-item.highlighted:before,
.elementor-item.highlighted:after,
.elementor-item-active:before,
.elementor-item-active:after {
	transform: scale(1); }

.e--pointer-double-line .elementor-item:before,
.e--pointer-double-line .elementor-item:after,
.e--pointer-underline .elementor-item:before,
.e--pointer-underline .elementor-item:after,
.e--pointer-overline .elementor-item:before,
.e--pointer-overline .elementor-item:after {
	height: 3px;
	width: 100%;
	left: 0;
	background-color: #55595c;
	z-index: 2; }

.e--pointer-double-line.e--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-double-line.e--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.e--pointer-underline.e--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-underline.e--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.e--pointer-overline.e--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-overline.e--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
	height: 0;
	width: 0;
	left: 50%; }

.e--pointer-double-line.e--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-underline.e--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-overline.e--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	top: 10px; }
.e--pointer-double-line.e--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.e--pointer-underline.e--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.e--pointer-overline.e--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
	bottom: 10px; }
.e--pointer-double-line.e--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-underline.e--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-overline.e--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	top: -10px; }
.e--pointer-double-line.e--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.e--pointer-underline.e--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.e--pointer-overline.e--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
	bottom: -10px; }

.e--pointer-double-line.e--animation-none, .e--pointer-double-line.e--animation-none .elementor-item,
.e--pointer-underline.e--animation-none, .e--pointer-underline.e--animation-none .elementor-item,
.e--pointer-overline.e--animation-none, .e--pointer-overline.e--animation-none .elementor-item,
.e--pointer-double-line.e--animation-none:before, .e--pointer-double-line.e--animation-none:after,
.e--pointer-double-line.e--animation-none:hover, .e--pointer-double-line.e--animation-none:focus,
.e--pointer-double-line.e--animation-none .elementor-item:before,
.e--pointer-double-line.e--animation-none .elementor-item:after,
.e--pointer-double-line.e--animation-none .elementor-item:hover,
.e--pointer-double-line.e--animation-none .elementor-item:focus,
.e--pointer-underline.e--animation-none:before, .e--pointer-underline.e--animation-none:after,
.e--pointer-underline.e--animation-none:hover, .e--pointer-underline.e--animation-none:focus,
.e--pointer-underline.e--animation-none .elementor-item:before,
.e--pointer-underline.e--animation-none .elementor-item:after,
.e--pointer-underline.e--animation-none .elementor-item:hover,
.e--pointer-underline.e--animation-none .elementor-item:focus,
.e--pointer-overline.e--animation-none:before, .e--pointer-overline.e--animation-none:after,
.e--pointer-overline.e--animation-none:hover, .e--pointer-overline.e--animation-none:focus,
.e--pointer-overline.e--animation-none .elementor-item:before,
.e--pointer-overline.e--animation-none .elementor-item:after,
.e--pointer-overline.e--animation-none .elementor-item:hover,
.e--pointer-overline.e--animation-none .elementor-item:focus {
	transition-duration: 0s; }

.e--pointer-double-line .elementor-item:before, .e--pointer-overline .elementor-item:before {
	content: '';
	top: 0; }
.e--pointer-double-line.e--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before,
.e--pointer-overline.e--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	width: 10px;
	left: -20px; }
.e--pointer-double-line .elementor-item:after, .e--pointer-underline .elementor-item:after {
	content: '';
	bottom: 0; }
.e--pointer-double-line.e--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after,
.e--pointer-underline.e--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
	width: 10px;
	left: calc( 100% + 20px); }

.e--pointer-framed .elementor-item:before, .e--pointer-framed .elementor-item:after {
	background: transparent;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border: 3px solid #55595c; }
.e--pointer-framed .elementor-item:before {
	content: ''; }

.e--pointer-framed.e--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	transform: scale(0.75); }
.e--pointer-framed.e--animation-shrink .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	transform: scale(1.25); }

.e--pointer-framed.e--animation-grow .elementor-item:before, .e--pointer-framed.e--animation-shrink .elementor-item:before {
	transition: opacity 0.2s, transform 0.4s; }
.e--pointer-framed.e--animation-draw .elementor-item:before, .e--pointer-framed.e--animation-draw .elementor-item:after {
	width: 3px;
	height: 3px; }
.e--pointer-framed.e--animation-draw .elementor-item:before {
	border-width: 0 3px 3px 0;
	transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s; }
.e--pointer-framed.e--animation-draw .elementor-item:after {
	content: '';
	top: initial;
	bottom: 0;
	right: initial;
	left: 0;
	border-width: 3px 0 0 3px;
	transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s; }

.e--pointer-framed.e--animation-draw .elementor-item:hover:before,
.e--pointer-framed.e--animation-draw .elementor-item:hover:after,
.e--pointer-framed.e--animation-draw .elementor-item:focus:before,
.e--pointer-framed.e--animation-draw .elementor-item:focus:after,
.e--pointer-framed.e--animation-draw .elementor-item.highlighted:before,
.e--pointer-framed.e--animation-draw .elementor-item.highlighted:after,
.e--pointer-framed.e--animation-draw .elementor-item-active:before,
.e--pointer-framed.e--animation-draw .elementor-item-active:after {
	width: 100%;
	height: 100%; }
.e--pointer-framed.e--animation-draw .elementor-item:hover:before,
.e--pointer-framed.e--animation-draw .elementor-item:focus:before,
.e--pointer-framed.e--animation-draw .elementor-item.highlighted:before,
.e--pointer-framed.e--animation-draw .elementor-item-active:before {
	transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s; }
.e--pointer-framed.e--animation-draw .elementor-item:hover:after,
.e--pointer-framed.e--animation-draw .elementor-item:focus:after,
.e--pointer-framed.e--animation-draw .elementor-item.highlighted:after,
.e--pointer-framed.e--animation-draw .elementor-item-active:after {
	transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s; }

.e--pointer-framed.e--animation-corners .elementor-item:before, .e--pointer-framed.e--animation-corners .elementor-item:after {
	width: 3px;
	height: 3px; }
.e--pointer-framed.e--animation-corners .elementor-item:before {
	border-width: 3px 3px 0 0; }
.e--pointer-framed.e--animation-corners .elementor-item:after {
	content: '';
	top: initial;
	bottom: 0;
	right: initial;
	left: 0;
	border-width: 0 0 3px 3px; }
.e--pointer-framed.e--animation-corners .elementor-item:hover:before,
.e--pointer-framed.e--animation-corners .elementor-item:hover:after,
.e--pointer-framed.e--animation-corners .elementor-item:focus:before,
.e--pointer-framed.e--animation-corners .elementor-item:focus:after,
.e--pointer-framed.e--animation-corners .elementor-item.highlighted:before,
.e--pointer-framed.e--animation-corners .elementor-item.highlighted:after,
.e--pointer-framed.e--animation-corners .elementor-item-active:before,
.e--pointer-framed.e--animation-corners .elementor-item-active:after {
	width: 100%;
	height: 100%;
	transition: opacity 0.002s, width 0.4s, height 0.4s; }

.e--pointer-framed.e--animation-none,
.e--pointer-framed.e--animation-none .elementor-item,
.e--pointer-framed.e--animation-none:before, .e--pointer-framed.e--animation-none:after,
.e--pointer-framed.e--animation-none:hover, .e--pointer-framed.e--animation-none:focus,
.e--pointer-framed.e--animation-none .elementor-item:before,
.e--pointer-framed.e--animation-none .elementor-item:after,
.e--pointer-framed.e--animation-none .elementor-item:hover,
.e--pointer-framed.e--animation-none .elementor-item:focus {
	transition-duration: 0s; }

.e--pointer-background .elementor-item:before, .e--pointer-background .elementor-item:after {
	content: '';
	transition: 0.3s; }
.e--pointer-background .elementor-item:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #55595c;
	z-index: -1; }
.e--pointer-background .elementor-item:hover,
.e--pointer-background .elementor-item:focus,
.e--pointer-background .elementor-item.highlighted,
.e--pointer-background .elementor-item-active {
	color: #fff; }

.e--pointer-background.e--animation-grow .elementor-item:before {
	transform: scale(0.5); }
.e--pointer-background.e--animation-grow .elementor-item:hover:before,
.e--pointer-background.e--animation-grow .elementor-item:focus:before,
.e--pointer-background.e--animation-grow .elementor-item.highlighted:before,
.e--pointer-background.e--animation-grow .elementor-item-active:before {
	transform: scale(1);
	opacity: 1; }

.e--pointer-background.e--animation-shrink .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	transform: scale(1.2);
	transition: 0.3s; }
.e--pointer-background.e--animation-shrink .elementor-item:hover:before,
.e--pointer-background.e--animation-shrink .elementor-item:focus:before,
.e--pointer-background.e--animation-shrink .elementor-item.highlighted:before,
.e--pointer-background.e--animation-shrink .elementor-item-active:before {
	transition: opacity 0.15s, transform 0.4s; }

.e--pointer-background.e--animation-sweep-left .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	left: 100%; }
.e--pointer-background.e--animation-sweep-right .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	right: 100%; }
.e--pointer-background.e--animation-sweep-up .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	top: 100%; }
.e--pointer-background.e--animation-sweep-down .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	bottom: 100%; }

.e--pointer-background.e--animation-shutter-out-vertical .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	bottom: 50%;
	top: 50%; }
.e--pointer-background.e--animation-shutter-out-horizontal .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
	right: 50%;
	left: 50%; }
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item:after,
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item:after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #55595c;
	z-index: -1; }

.e--pointer-background.e--animation-shutter-in-vertical .elementor-item:before {
	top: 0;
	bottom: 100%; }
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item:after {
	top: 100%;
	bottom: 0; }
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item:hover:before,
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item:focus:before,
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item.highlighted:before,
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item-active:before {
	bottom: 50%; }
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item:hover:after,
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item:focus:after,
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item.highlighted:after,
.e--pointer-background.e--animation-shutter-in-vertical .elementor-item-active:after {
	top: 50%; }

.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item:before {
	right: 0;
	left: 100%; }
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item:after {
	right: 100%;
	left: 0; }
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item:hover:before,
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item:focus:before,
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item.highlighted:before,
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item-active:before {
	left: 50%; }
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item:hover:after,
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item:focus:after,
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item.highlighted:after,
.e--pointer-background.e--animation-shutter-in-horizontal .elementor-item-active:after {
	right: 50%; }

.e--pointer-background.e--animation-none,
.e--pointer-background.e--animation-none .elementor-item,
.e--pointer-background.e--animation-none:before, .e--pointer-background.e--animation-none:after,
.e--pointer-background.e--animation-none:hover, .e--pointer-background.e--animation-none:focus,
.e--pointer-background.e--animation-none .elementor-item:before,
.e--pointer-background.e--animation-none .elementor-item:after,
.e--pointer-background.e--animation-none .elementor-item:hover,
.e--pointer-background.e--animation-none .elementor-item:focus {
	transition-duration: 0s; }

.e--pointer-text.e--animation-skew .elementor-item:hover,
.e--pointer-text.e--animation-skew .elementor-item:focus {
	transform: skew(-8deg); }
.e--pointer-text.e--animation-grow .elementor-item:hover,
.e--pointer-text.e--animation-grow .elementor-item:focus {
	transform: scale(1.2); }
.e--pointer-text.e--animation-shrink .elementor-item:hover,
.e--pointer-text.e--animation-shrink .elementor-item:focus {
	transform: scale(0.8); }
.e--pointer-text.e--animation-float .elementor-item:hover,
.e--pointer-text.e--animation-float .elementor-item:focus {
	transform: translateY(-8px); }
.e--pointer-text.e--animation-sink .elementor-item:hover,
.e--pointer-text.e--animation-sink .elementor-item:focus {
	transform: translateY(8px); }
.e--pointer-text.e--animation-rotate .elementor-item:hover,
.e--pointer-text.e--animation-rotate .elementor-item:focus {
	transform: rotate(6deg); }

.e--pointer-text.e--animation-none,
.e--pointer-text.e--animation-none .elementor-item,
.e--pointer-text.e--animation-none:before, .e--pointer-text.e--animation-none:after,
.e--pointer-text.e--animation-none:hover, .e--pointer-text.e--animation-none:focus,
.e--pointer-text.e--animation-none .elementor-item:before,
.e--pointer-text.e--animation-none .elementor-item:after,
.e--pointer-text.e--animation-none .elementor-item:hover,
.e--pointer-text.e--animation-none .elementor-item:focus {
	transition-duration: 0s; }

.elementor-nav--main .elementor-nav a {
	transition: 0.4s; }
	.elementor-nav--main .elementor-nav a,
	.elementor-nav--main .elementor-nav a:hover,
	.elementor-nav--main .elementor-nav a.highlighted {
		padding: 13px 20px; }
	.elementor-nav--main .elementor-nav a.current {
		background: #373a3c;
		color: #fff; }
	.elementor-nav--main .elementor-nav a.disabled {
		background: #55595c;
		color: #a1a6a9; }

.elementor-nav--main .elementor-nav ul {
	position: absolute;
	width: 12em;
	border-width: 0;
	border-style: solid;
	padding: 0; }

.elementor-nav--layout-horizontal {
	display: flex; }
	.elementor-nav--layout-horizontal .elementor-nav {
		display: flex;
		flex-wrap: wrap; }
		.elementor-nav--layout-horizontal .elementor-nav a {
			white-space: nowrap; }

.elementor-nav--align-right .elementor-nav {
	margin-left: auto;
	justify-content: flex-start; }
.elementor-nav--align-right .elementor-nav--layout-vertical > ul > li > a {
	justify-content: flex-start; }
.elementor-nav--align-left .elementor-nav {
	margin-right: auto;
	justify-content: flex-end; }
.elementor-nav--align-left .elementor-nav--layout-vertical > ul > li > a {
	justify-content: flex-end; }
.elementor-nav--align-center .elementor-nav {
	margin-left: auto;
	margin-right: auto; }
.elementor-nav--align-center:not(.ce-nav--overflow-yes) .elementor-nav {
	justify-content: center; }
.elementor-nav--align-center.ce-nav--overflow-yes .elementor-nav > li:first-child {
	margin-right: auto; }
.elementor-nav--align-center.ce-nav--overflow-yes .elementor-nav > li:last-child {
	margin-left: auto; }
.elementor-nav--align-center .elementor-nav--layout-vertical > ul > li > a {
	justify-content: center; }
.elementor-nav--align-justify .elementor-nav--layout-horizontal .elementor-nav {
	width: 100%; }
	.elementor-nav--align-justify .elementor-nav--layout-horizontal .elementor-nav > li {
		flex-grow: 1; }
		.elementor-nav--align-justify .elementor-nav--layout-horizontal .elementor-nav > li > a {
			justify-content: center; }
.ce-nav--overflow-yes > .elementor-container > .elementor-nav-tabs > .elementor-nav {
	flex-wrap: nowrap; }

.elementor-nav {
	position: relative;
	z-index: 2; }
	.elementor-nav:after {
		content: "\00a0";
		display: block;
		height: 0;
		font: 0px/0 serif;
		clear: both;
		visibility: hidden;
		overflow: hidden; }
	.elementor-nav,
	.elementor-nav ul,
	.elementor-nav li {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: normal;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
	.elementor-nav li,
	.elementor-nav a {
		position: relative; }
	.elementor-nav li {
		border-width: 0; }
	.elementor-nav a {
		display: flex;
		align-items: center;
		justify-content: space-between; }
		.elementor-nav a,
		.elementor-nav a:focus,
		.elementor-nav a:hover {
			padding: 10px 20px;
			line-height: 20px; }
		.elementor-nav a.current {
			background: #373a3c;
			color: #fff; }
		.elementor-nav a.disabled {
			cursor: not-allowed;
			color: #a1a6a9; }

.ce-category-list {
	display: flex;
	flex-wrap: wrap; }

.elementor[data-elementor-type$="quick-view"] .elementor-section-wrap {
	text-align: right; }
#ce-product-quick-view {
	display: flex;
	padding: 0;
	overflow: hidden; }
#ce-product-quick-view .dialog-widget-content {
	position: static !important;
	overflow: visible;
	margin: 0;
	border-radius: 0;
	max-width: 100%;
	max-height: 100vh; }
#ce-product-quick-view .dialog-message {
	position: relative;
	max-height: 100vh;
	background: #fff; }
#ce-product-quick-view .dialog-close-button,
#ce-product-quick-view .dialog-buttons-wrapper {
	display: none; }
#ce-product-quick-view a[data-elementor-lightbox-slideshow] {
	pointer-events: none; }

.elementor-motion-effects-element, .elementor-motion-effects-layer {
	transition-property: transform, opacity;
	transition-timing-function: cubic-bezier(0, 0.33, 0.07, 1.03);
	transition-duration: 1s; }
.elementor-motion-effects-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0); }
.elementor-motion-effects-layer {
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover; }
.elementor-motion-effects-perspective {
	perspective: 1200px; }

.e-transform-hover > .elementor-widget-container,
.e-transform > .elementor-widget-container {
	transform: perspective(var(--e-transform-perspective, none))
		rotateZ(var(--e-transform-rotateZ, 0)) rotateX(var(--e-transform-rotateX, 0)) rotateY(var(--e-transform-rotateY, 0))
		translateX(var(--e-transform-translateX, 0)) translateY(var(--e-transform-translateY, 0))
		scaleX(calc( var(--e-transform-flipX, 1) * var(--e-transform-scaleX, var(--e-transform-scale, 1)) ))
		scaleY(calc( var(--e-transform-flipY, 1) * var(--e-transform-scaleY, var(--e-transform-scale, 1)) ))
		skewX(var(--e-transform-skewX, 0)) skewY(var(--e-transform-skewY, 0));
	transform-origin: var(--e-transform-origin-y, center) var(--e-transform-origin-x, center); }

.ce-valign-stretch > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget > .elementor-widget-container,
.ce-valign-stretch > .elementor-column-wrap > .elementor-widget-wrap > .elementor-section > .elementor-container {
	height: 100%; }
@media (max-width: 1024px) {
	.ce-tablet-valign-stretch > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget > .elementor-widget-container,
	.ce-tablet-valign-stretch > .elementor-column-wrap > .elementor-widget-wrap > .elementor-section > .elementor-container {
		height: 100%; } }
@media (max-width: 767px) {
	.ce-mobile-valign-stretch > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget > .elementor-widget-container,
	.ce-mobile-valign-stretch > .elementor-column-wrap > .elementor-widget-wrap > .elementor-section > .elementor-container {
		height: 100%; } }

.ce-lightbox-embed {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 90%;
	max-height: 90%;
	transform: translate(-50%, -50%);
	z-index: 10; }

.elementor [aria-disabled=true] {
	pointer-events: none;
	opacity: .5; }
/* fix for TinyMCE style */
.elementor-widget-text-editor p:not([class]):not(#e),
.elementor-tab-content p:not([class]):not(#e) {
	color: inherit;
	font: inherit;
	line-height: inherit;
	letter-spacing: inherit; }
.elementor-widget-text-editor p:last-child,
.elementor-tab-content p:last-child {
	margin-bottom: 0; }
.elementor-widget-text-editor ul,
.elementor-widget-text-editor ol,
.elementor-tab-content ul,
.elementor-tab-content ol {
	list-style: revert;
	padding: revert; }
/* Background Slideshow fix */
.elementor-section[data-settings*=slideshow],
.elementor-column[data-settings*=slideshow] {
	background-position: center center;
	background-size: cover; }
/* fix: blank white page on editor */
.elementor-html > body {
	display: block !important; }
/* background-attachment: fixed; compatibility fix for iOS */
@supports (-webkit-touch-callout: none) {
	.elementor-element {
		background-attachment: scroll !important; } }
/* fix for Classic theme */
.page-content.page-cms .elementor {
	text-align: right; }
