.elementor-nav-menu--main .elementor-nav-menu span.scroll-down,
.elementor-nav-menu--main .elementor-nav-menu span.scroll-up {
    background: #fff;
    display: none;
    height: 20px;
    overflow: hidden;
    position: absolute;
    visibility: hidden
}
.elementor-nav-menu--main .elementor-nav-menu span.scroll-down-arrow,
.elementor-nav-menu--main .elementor-nav-menu span.scroll-up-arrow {
    position: absolute;
    top: -2px;
    inset-inline-start: 50%;
    margin-inline-start: -8px;
    border: 8px dashed transparent;
    border-bottom: 8px solid #33373d;
    width: 0;
    height: 0;
    overflow: hidden;
}
.elementor-nav-menu--main .elementor-nav-menu span.scroll-down-arrow {
    border-color: #33373d transparent transparent;
    border-style: solid dashed dashed;
    top: 6px
}
.elementor-nav--main.elementor-nav--layout-vertical .sub-arrow:before,
.elementor-nav--main .elementor-nav--dropdown .sub-arrow:before {
    display: block;
    transform: rotate(-90deg); }

.elementor-widget:not(.elementor-nav--toggle) .elementor-menu-toggle {
    display: none; }
    .elementor-widget:not(.elementor-nav--toggle) .elementor-menu-toggle ~ .elementor-nav--dropdown {
        margin-top: 0; }

.elementor-widget-nav-menu > .elementor-widget-container {
    display: flex;
    flex-direction: column; }
.elementor-widget-nav-menu svg {
    width: 1em;
    height: 1em;
    fill: currentColor; }

.elementor-nav ul {
    display: none;
}
.elementor-nav-menu ul ul:not(.elementor-nav--dropdown) a {
    border-inline-start: 16px solid transparent
}
.elementor-nav-menu ul ul ul:not(.elementor-nav--dropdown) a {
    border-inline-start: 24px solid transparent
}
.elementor-nav-menu ul ul ul ul:not(.elementor-nav--dropdown) a {
    border-inline-start: 32px solid transparent
}
.elementor-nav-menu ul ul ul ul ul:not(.elementor-nav--dropdown) a {
    border-inline-start: 40px solid transparent
}

.elementor-nav .sub-arrow {
    font-size: 16px;
    line-height: 1;
    padding: 10px 0 10px 10px;
    margin-top: -10px;
    margin-bottom: -10px; }
    .elementor-nav .sub-arrow.fa-chevron-down {
        font-size: 10px; }
    .elementor-nav .sub-arrow.fa-plus:before {
        font-family: "Open Sans", sans-serif;
        content: '+'; }
    .elementor-nav .cat-menu {
        margin-inline-end: 10px;
        height: 1em; }

.elementor-nav--dropdown .menu-item a:not(#e):hover,
.elementor-nav--dropdown .menu-item a:not(#e):focus,
.elementor-nav--dropdown .menu-item a.highlighted:not(#e),
.elementor-nav--dropdown .menu-item a.elementor-item-active:not(#e) {
    color: #fff; }
.elementor-nav--dropdown .menu-item [href]:hover,
.elementor-nav--dropdown .menu-item [href]:focus,
.elementor-nav--dropdown .menu-item .highlighted,
.elementor-nav--dropdown .menu-item .elementor-item-active {
    background-color: #55595c; }

.elementor-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 0.25em;
    cursor: pointer;
    border: 0 solid;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    color: #494c4f; }
    .elementor-menu-toggle i {
        position: relative;
        margin: .44em .05em;
        width: .9em;
        height: .12em;
        background: currentColor;
        transition: background 0s .16s; }
        .elementor-menu-toggle i:before,
        .elementor-menu-toggle i:after {
            content: '';
            display: block;
            position: absolute;
            width: .9em;
            height: .12em;
            background: currentColor; }
        .elementor-menu-toggle i:before {
            top: -.24em;
            transition: top .16s .16s, transform .16s; }
        .elementor-menu-toggle i:after {
            bottom: -.24em;
            transition: bottom .16s .16s, transform .16s; }
    .elementor-menu-toggle.elementor-active i {
        background: transparent; }
        .elementor-menu-toggle.elementor-active i:before {
            top: 0;
            transform: rotate(45deg);
            transition-delay: 0s, .16s; }
        .elementor-menu-toggle.elementor-active i:after {
            bottom: 0;
            transform: rotate(-45deg);
            transition-delay: 0s, .16s; }

.elementor-nav--dropdown {
    background-color: #fff;
    font-size: 13px; }
    .elementor-nav--dropdown.elementor-nav__container {
        margin-top: 10px;
        transition: max-height 0.3s, transform 0.3s;
        transform-origin: top;
        overflow: auto; }
        .elementor-nav--dropdown.elementor-nav__container ul ul {
            padding-inline-start: 8px; }
        .elementor-nav--dropdown.elementor-nav__container .elementor-sub-item {
            font-size: 0.85em; }
    .elementor-nav--dropdown a {
        color: #494c4f; }
        .elementor-nav--dropdown a.current {
            background: #373a3c;
            color: #fff; }
        .elementor-nav--dropdown a.disabled {
            color: #b3b3b3; }
ul.elementor-nav--dropdown a,
ul.elementor-nav--dropdown a:hover {
    text-shadow: none; }

.elementor-nav--text-align-center .elementor-nav--dropdown .elementor-nav a {
    justify-content: center; }

.elementor-nav--toggle .elementor-menu-toggle:not(.elementor-active) + .elementor-nav__container {
    visibility: hidden;
    transform: scaleY(0);
    max-height: 0; }
.elementor-nav--toggle .elementor-menu-toggle.elementor-active + .elementor-nav__container {
    transform: scaleY(1);
    max-height: 100vh; }

.elementor-nav--stretch .elementor-nav__container.elementor-nav--dropdown {
    position: absolute;
    z-index: 9997; }

@media (min-width: 768px) {
    .elementor-nav--dropdown-mobile .elementor-nav--dropdown, .elementor-nav--dropdown-mobile .elementor-menu-toggle {
        display: none; } }
@media (min-width: 1025px) {
    .elementor-nav--dropdown-tablet .elementor-nav--dropdown, .elementor-nav--dropdown-tablet .elementor-menu-toggle {
        display: none; } }
@media (max-width: 1024px) {
    .elementor-nav--dropdown-tablet .elementor-nav--main {
        display: none; } }
@media (max-width: 767px) {
    .elementor-nav--dropdown-mobile .elementor-nav--main {
        display: none; } }

.elementor-widget-currency-selector:not(.elementor-nav--active) .current-menu-item,
.elementor-widget-language-selector:not(.elementor-nav--active) .current-menu-item {
    display: none; }
.elementor-currencies.elementor-nav--layout-horizontal .elementor-nav ul,
.elementor-langs.elementor-nav--layout-horizontal .elementor-nav ul {
    min-width: 100% !important; }
.menu-item-type-account a > span:not(:first-child),
.menu-item-type-currency a > span:not(:first-child),
.menu-item-type-lang a > span:not(:first-child) {
    padding-inline-start: 10px; }
.elementor-nav--dropdown .menu-item-type-account a,
.elementor-nav--dropdown .menu-item-type-currency a,
.elementor-nav--dropdown .menu-item-type-lang a {
    justify-content: normal; }
.elementor-sign-in .elementor-item > i {
    transition: color 0.2s; }