.ce-active-filters {
	display: flex;
	align-items: center;
	flex-wrap: wrap; }
	.ce-active-filters .elementor-button {
		padding-left: 1em;
		padding-right: 1em; }

.ce-filters__container:not([open]) {
	display: block;
	position: static;
	width: 100%; }
.ce-filters {
	display: grid;
	align-content: start;
	max-width: 100% }
	.ce-filters .elementor-heading-title {
		margin-bottom: 10px; }
	.ce-filters .ce-filters__clear {
		display: flex;
		margin-bottom: 10px; }
	.ce-filters .elementor-select-wrapper select {
		cursor: pointer; }
	.ce-filters .elementor-field-subgroup {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 5px; }
	.ce-filters .elementor-field-option {
		display: flex;
		align-items: center;
		margin: 0;
		gap: 5px; }
		.ce-filters .elementor-field-option i[style] {
			background-image: none;
			font-size: 20px; }
			.ce-filters .elementor-field-option i[style]:before {
				transform: scale(0.6); }
	.ce-filters .elementor-field-label[data-magnitude] {
		display: inline-flex; }
.ce-filters__container.ce-filters--shown {
	transform: scale(1);
	overflow: hidden;
	position: fixed;
	z-index: 9998;
	top: 0;
	inset-inline-start: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	transition: background-color 0.4s; }
.ce-filters__container .dialog-lightbox-close-button {
	top: 0;
	inset-inline-end: 0;
	margin: 30px;
	padding: 0;
	color: #818a91; }
	.ce-filters__container .dialog-lightbox-close-button:hover {
		color: #818a91; }
.ce-filters__container.ce-filters--shown .ce-filters {
	position: fixed;
	top: 0;
	inset-inline-start: 0;
	bottom: 0;
	width: 300px;
	padding: 30px;
	background: #fff;
	transform: translateX(0);
	transition: 0.3s transform; }
.ce-filters__container.ce-filters--shown .elementor-heading-title:empty:after {
	content: '​'; }
.ce-filters__container:not(.ce-filters--shown) {
	background-color: transparent;
	transition: background-color 0.4s, transform 0s 0.4s; }
	.ce-filters__container:not(.ce-filters--shown) .elementor-heading-title:empty,
	.ce-filters__container:not(.ce-filters--shown) .dialog-lightbox-close-button {
		display: none; }
.ce-filters__toggle {
	display: none; }
.ce-filters--color-layout-inline .elementor-field-type-color .elementor-field-subgroup {
	flex-direction: row;
	flex-wrap: wrap; }
.ce-filters--color-layout-inline .elementor-field-type-color .elementor-field-label {
	display: none; }
.ce-filters--sidebar-yes .ce-filters__toggle {
	display: flex; }
.ce-filters--sidebar-yes .elementor-lightbox:not(.ce-filters--shown) {
	visibility: hidden;
	width: 0;
	height: 0;
	transform: scale(0); }
.ce-filters--sidebar-yes .elementor-lightbox:not(.ce-filters--shown) .ce-filters {
	opacity: 0;
	transform: translateX(-100%); }
@media (max-width: 1024px) {
	.ce-filters--sidebar-tablet .ce-filters__toggle {
		display: flex; }
	.ce-filters--sidebar-tablet .elementor-lightbox:not(.ce-filters--shown) {
		visibility: hidden;
		width: 0;
		height: 0;
		transform: scale(0); }
	.ce-filters--sidebar-tablet .elementor-lightbox:not(.ce-filters--shown) .ce-filters {
		opacity: 0;
		transform: translateX(-100%); } }
@media (max-width: 767px) {
	.ce-filters--sidebar-mobile .ce-filters__toggle {
		display: flex; }
	.ce-filters--sidebar-mobile .elementor-lightbox:not(.ce-filters--shown) {
		visibility: hidden;
		width: 0;
		height: 0;
		transform: scale(0); }
	.ce-filters--sidebar-mobile .elementor-lightbox:not(.ce-filters--shown) .ce-filters {
		opacity: 0;
		transform: translateX(-100%); } }
.ce-filters .ce-filters__tab {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 5px 0;
	cursor: pointer; }
.ce-filters .ce-filters__tab-icon > * {
	display: inline-block;
	transition: transform 0.2s; }
.ce-filters .ce-filters__title {
	flex-grow: 1; }
	.ce-filters .ce-filters__tab[aria-expanded=true] .ce-filters__tab-icon > * {
		transform: rotate(180deg); }
	.ce-filters .ce-filters__tab[aria-expanded=true] .ce-filters__tab-icon > [class*=right] {
		transform: rotate(90deg); }
	.ce-filters .ce-filters__tab[aria-expanded=true] .ce-filters__tab-icon > [class*=left] {
		transform: rotate(-90deg); }
.ce-filters .elementor-field-subgroup[aria-hidden=true] {
	display: none; }
.ce-filters .elementor-field-type-slider .elementor-field-subgroup {
	max-height: none !important;
	overflow: visible; }

.ce-checkbox, .ce-radio {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 1em;
	height: 1em;
	background: #fff;
	color: transparent;
	border: 1px solid #818a91;
	border-radius: 3px;
	cursor: pointer; }
	.ce-checkbox:before {
		transform: scale(0.8); }
input:checked ~ .ce-checkbox {
	border-color: #0075ff;
	background: #0075ff;
	color: #fff; }
.ce-radio {
	border-radius: 50%; }
input:checked ~ .ce-radio {
	border-color: currentColor;
	background-image: radial-gradient(circle, currentColor 44%, transparent 50%);
	color: #0075ff; }
input:checked ~ .ce-radio[style] {
	border: 2px solid #0075ff; }
.ce-dual-range {
	--ce-range-height: 4px;
	--ce-range-active-color: #0075ff;
	--ce-range-thumb-color: #fff;
	--ce-range-thumb-size: 16px;
	--ce-range-thumb-border-width: 2px;
	--ce-range-thumb-border-color: var(--ce-range-active-color);
	--ce-range-thumb-border-radius: 50%;
	position: relative;
	margin: max(0px, calc((var(--ce-range-thumb-size) - var(--ce-range-height)) / 2)) 0;
	width: 100%;
	height: var(--ce-range-height);
	background: #818a91;
	border-radius: 3px; }
.ce-dual-range__selected {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	background: var(--ce-range-active-color);
	border-radius: inherit; }
.ce-dual-range input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	background: none;
	pointer-events: none; }
	.ce-dual-range input::-webkit-slider-thumb {
		-webkit-appearance: none;
		box-sizing: border-box;
		height: var(--ce-range-thumb-size);
		width: var(--ce-range-thumb-size);
		background: var(--ce-range-thumb-color);
		border: var(--ce-range-thumb-border-width) solid var(--ce-range-thumb-border-color);
		border-radius: var(--ce-range-thumb-border-radius);
		transform: scale(1);
		transition: transform .2s;
		pointer-events: auto;
		cursor: var(--ce-range-thumb-cursor, grab); }
		.ce-dual-range input::-webkit-slider-thumb:active {
			cursor: var(--ce-range-thumb-cursor, grabbing); }
	.ce-dual-range input::-moz-range-thumb {
		-moz-appearance: none;
		box-sizing: border-box;
		height: var(--ce-range-thumb-size);
		width: var(--ce-range-thumb-size);
		background: var(--ce-range-thumb-color);
		border: var(--ce-range-thumb-border-width) solid var(--ce-range-thumb-border-color);
		border-radius: var(--ce-range-thumb-border-radius);
		transform: scale(1);
		transition: transform .2s;
		pointer-events: auto;
		cursor: var(--ce-range-thumb-cursor, grab); }
		.ce-dual-range input::-moz-range-thumb:active {
			cursor: var(--ce-range-thumb-cursor, grabbing); }