.elementor-carousel-wrapper.swiper {
	position: static; }

.elementor-carousel-wrapper.swiper .swiper-slide figure {
	line-height: inherit; }

.elementor-carousel-wrapper .swiper-slide-inner {
	text-align: center; }

/* Before init fix */
.elementor-carousel-wrapper:not(.swiper-initialized) .swiper-wrapper:not(.swiper-variable-width) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-rows: 0; }
.elementor-widget-testimonial-carousel .swiper:not(.swiper-initialized) .swiper-wrapper {
	grid-template-columns: 1fr; }
.elementor-widget-trustedshops-reviews .swiper:not(.swiper-initialized) .swiper-wrapper,
.elementor-widget-product-carousel .swiper:not(.swiper-initialized) .swiper-wrapper {
	grid-template-columns: 1fr 1fr 1fr 1fr; }

.swiper .swiper-slide figure {
	line-height: 0; }
	.swiper .swiper-slide figure img {
		width: 100%; }

.swiper-pagination .swiper-pagination-bullet:first-child:last-child {
	display: none; }

.elementor-pagination-position-outside .swiper {
	padding-bottom: 30px; }

.elementor-arrows-position-outside .swiper {
	width: calc(100% - 60px); }

.elementor-arrows-position-outside .elementor-swiper-button-prev {
	inset-inline-start: 0; }
.elementor-arrows-position-outside .elementor-swiper-button-next {
	inset-inline-end: 0; }

.swiper-image-stretch .swiper-slide .swiper-slide-image {
	width: 100%;
	object-fit: cover; }

.elementor-widget .swiper-variable-width .swiper-slide {
	width: auto; }

/* Product Carousel fix */
.elementor-widget .swiper-slide > :not(.swiper-lazy-preloader) {
	min-width: 100%;
	padding: 0 !important; }