.elementor-search {
	display: flex;
	flex-direction: column;
	transition: 0.2s; }
	.elementor-search svg {
		fill: currentColor;
		width: 1em;
		height: 1em; }
.elementor-search--align-left .elementor-search {
	align-items: flex-start; }
.elementor-search--align-center .elementor-search {
	align-items: center; }
.elementor-search--align-right .elementor-search {
	align-items: flex-end; }
	.elementor-search input[type="search"], .elementor-search button {
		margin: 0;
		border: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		background: none;
		line-height: 1;
		min-width: 0;
		font-size: 15px;
		-webkit-appearance: none;
		-moz-appearance: none; }
		.elementor-search input[type="search"]::-webkit-search-cancel-button {
			content: 'x';
			-webkit-appearance: none; }
		.elementor-search input[type="search"]:focus, .elementor-search button:focus {
			outline: 0;
			color: inherit; }
	.elementor-search button {
		background-color: #818a91;
		font-size: 16px;
		color: #fff;
		border-radius: 0; }
	.elementor-search__container {
		display: flex;
		transition: 0.2s;
		overflow: hidden;
		border: 0 solid transparent;
		min-height: 50px; }
		.elementor-search__container:not(.elementor-search--topbar) {
			width: 100%;
			background: #eceeef; }
	.elementor-search__input {
		flex-basis: 100%;
		color: #55595c;
		transition: color 0.2s; }
		.elementor-search__input::-webkit-input-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6; }
		.elementor-search__input::-moz-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6; }
		.elementor-search__input::-ms-input-placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6; }
		.elementor-search__input::placeholder {
			color: inherit;
			font-family: inherit;
			opacity: 0.6; }
	.elementor-search__submit {
		color: #fff;
		cursor: pointer;
		transition: color 0.2s, background 0.2s; }
	.elementor-search--button-type-text .elementor-search__submit {
		flex-shrink: 0; }
	.elementor-search__icon:not(.elementor-search__clear) {
		padding-inline-end: 0 !important; }
	.elementor-search__clear {
		padding-inline-start: 0 !important;
		visibility: hidden;
		pointer-events: none;
		cursor: pointer; }
		.ui-autocomplete-loading ~ .elementor-search__clear i {
			animation: ceicon-spin 2s infinite linear; }
			.ui-autocomplete-loading ~ .elementor-search__clear i:before {
				content: '\e823'; }
	.elementor-search__icon {
		opacity: 0.6;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: #55595c; }
	.elementor-search--skin-topbar .elementor-search {
		display: block; }
	.elementor-search--skin-topbar .elementor-search input[type=search].elementor-search__input {
		font-size: 32px;
		border-style: solid;
		border-width: 0 0 1px 0;
		border-color: #eceaea;
		border-radius: 0;
		line-height: 1.5; }
	.elementor-search--skin-topbar .elementor-search__toggle {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		border: 0 solid;
		width: 1em;
		height: 1em;
		color: #494c4f;
		cursor: pointer;
		transition: 0.2s; }
		.elementor-search--skin-topbar .elementor-search__toggle i,
		.elementor-search--skin-topbar .elementor-search__toggle svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: inherit;
			font-size: var(--ce-search-toggle-icon-size, .55em); }
	.elementor-search--skin-topbar .elementor-search__container {
		flex-direction: column;
		transition: transform 0.3s;
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		right: 0;
		border: 0 solid transparent;
		padding: 20px;
		text-align: start;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		background: #fff; }
		.elementor-search--skin-topbar .elementor-search__container:not(.elementor-search--topbar) {
			overflow: hidden;
			box-shadow: none;
			transform: translateY(-100%); }
			.elementor-search--skin-topbar .elementor-search__container:not(.elementor-search--topbar) .dialog-lightbox-close-button {
				transition: none;
				opacity: 0; }
.elementor-search .dialog-lightbox-close-button {
	position: fixed;
	transition: opacity 0.3s 0.3s, color 0.3s;
	top: 10px;
	inset-inline-end: 10px; }
.elementor-search__input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	flex-basis: 100%; }
	.elementor-search__input-wrapper .elementor-search__input {
		width: 100%;
		height: 100%; }
	.elementor-search__input-wrapper .elementor-search__clear {
		position: absolute;
		inset-inline-end: 0;
		height: 100%; }
.elementor-search__label {
	color: #777777; }
.elementor-search__products {
	left: auto !important;
	z-index: 9999; }
	.elementor-search__products.ui-widget {
		font-family: revert;
		font-size: revert; }
	.elementor-search__products:empty {
		display: none !important; }
.elementor-search__products .elementor-search__product a.elementor-search__product-link {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 0;
	padding: 5px; }
.rtl-lang .elementor-search__products .elementor-search__product a.elementor-search__product-link {
	flex-direction: row-reverse; }
.elementor-search__products .elementor-search__product a.elementor-search__product-link.ui-state-focus {
	margin: 0;
	border-radius: 0;
	background: #eceeef; }
.elementor-search__products .elementor-search__product-image {
	align-self: flex-start;
	margin-inline-end: 10px; }
.elementor-search__products .elementor-search__product-description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: .8em; }
.elementor-search__products .elementor-search__product-price del {
	opacity: .66; }
.elementor-search--skin-topbar .elementor-search__products:not(:empty) {
	position: static;
	display: block !important;
	max-width: 100%;
	border: none;
	border-radius: 0;
	background: transparent; }
