.ce-product-variants,
.ce-product-variants__item,
.ce-product-variants__patterns,
.ce-product-variants__count,
.ce-product-variants__options,
.ce-product-variants__radio {
	display: flex; }
.ce-product-variants--layout-table .ce-product-variants,
.ce-product-variants--layout-stacked .ce-product-variants,
.ce-product-variants--layout-inline:not(.ce-product-variants--label-inline) .ce-product-variants__item {
	flex-direction: column;
	align-items: flex-start; }
.ce-product-variants--layout-table .ce-product-variants__item,
.ce-product-variants--layout-inline.ce-product-variants--label-inline .ce-product-variants__item {
	flex-wrap: nowrap; }
.ce-product-variants--layout-table .ce-product-variants__item,
.ce-product-variants--layout-stacked .ce-product-variants__item,
.ce-product-variants--layout-stacked .ce-product-variants__item>:last-child {
	width: 100%; }
.ce-product-variants--layout-table .ce-product-variants__select {
	width: auto;
	flex-grow: 1; }
.ce-product-variants__patterns,
.ce-product-variants__options {
	flex-wrap: wrap; }
.ce-product-variants__pattern {
	background-clip: content-box;
	cursor: pointer; }
.ce-product-variants__texture {
	background-size: contain; }
.ce-product-variants__option {
	text-align: center;
	cursor: pointer; }
.ce-product-variants__count {
	align-items: center;
	justify-content: center;
	cursor: default; }