<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dgridproductslite</name>
    <displayName><![CDATA[Quick edit products(Lite)]]></displayName>
    <version><![CDATA[2.9.23]]></version>
    <description><![CDATA[Edit information about products]]></description>
    <author><![CDATA[SeoSA]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>