<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>seoimg</name>
    <displayName><![CDATA[SEO Image]]></displayName>
    <version><![CDATA[1.1.4]]></version>
    <description><![CDATA[Increase your SEO and your visibility in search engines such as Google]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[seo]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>