<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>iqitsociallogin</name>
    <displayName><![CDATA[IQITSOCIALLOGIN - allow customers to login with social account]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Social login with Facebook, Google]]></description>
    <author><![CDATA[IQIT-COMMERCE.COM]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>