<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pinterestfeed</name>
    <displayName><![CDATA[Pinterest Products Feed]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[An easiest way to export your products catalog to .csv / .xml file for pinterest purposes]]></description>
    <author><![CDATA[MyPresta.eu]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>