<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>myhreflang</name>
    <displayName><![CDATA[Hreflang]]></displayName>
    <version><![CDATA[1.2.2]]></version>
    <description><![CDATA[Hreflang module for PrestaShop]]></description>
    <author><![CDATA[MyPresta.eu]]></author>
    <tab><![CDATA[seo]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>