<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>cdc_googletagmanager</name>
    <displayName><![CDATA[CdC Google Tag Manager Enhanced Ecommerce]]></displayName>
    <version><![CDATA[5.8.0]]></version>
    <description><![CDATA[Integration of Google Tag Manager - Enhanced Ecommerce (GA4 + UA) Tracking and Google Customer reviews]]></description>
    <author><![CDATA[Comptoir du Code]]></author>
    <tab><![CDATA[analytics_stats]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>