<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>sfkwhatsappchat</name>
    <displayName><![CDATA[WhatsApp Chat Support.]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[The module helps to communicate with clients on your online store and turn visitors into customers.This helps to build relationship with customers,provide
personalized service and increase in sales.]]></description>
    <author><![CDATA[Shahab]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to remove this module?]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>