<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ets_imagecompressor</name>
    <displayName><![CDATA[Total Image Optimization Pro]]></displayName>
    <version><![CDATA[2.2.2]]></version>
    <description><![CDATA[All-in-one image optimization tool for your store: optimize all existing &amp; newly uploaded images, clean unused images &amp; set up Lazyload. Good for SEO, preserve image quality &amp; speed up your website!]]></description>
    <author><![CDATA[PrestaHero]]></author>
    <tab><![CDATA[seo]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>