<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>storelocator</name>
    <displayName><![CDATA[Store Locator]]></displayName>
    <version><![CDATA[2.1.2]]></version>
    <description><![CDATA[Adds extra features to your store locator.]]></description>
    <author><![CDATA[FMM Modules]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>